{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dver-v-parnuju-2_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ОГРАЖДЕНИЕ ДЛЯ ПАРНОЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный матовый</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 2100*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 21 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 32046 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dver-v-parnuju-1_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ ПАРНОЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Бронза матовый</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12040 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Дверь в парную – это ультрасовременное, набирающее популярность
            решение для обустройства саун, парных, хамамов и бань премиум класса. Оно позволит вам решить одновременно
            несколько задач:</p>
        <p>- сохранить визуальный простор помещения;</p>
        <p>- создать уникальный и стильный дизайн;</p>
        <p>- исключить из сметы дверные коробки и наличники.</p>
        <h3>Используемый виды материалов</h3>
        <p style="text-align: justify;"><strong>Стекло</strong>: для производства дверей в парную мы используем
            закаленное термостойкое стекло различных толщин, в зависимости от пожеланий заказчика. Стандартом считается
            8 мм стекло, но мы также производим полотна 6 и 10 мм толщины.
        </p>
        <p style="text-align: justify;"><strong>Фурнитура</strong>: для соединения конструкции между собой используется
            специальная фурнитура, которая выдерживает и высокую влажность, и температуры. В качестве ручки на двери
            предлагается использовать классическую деревянную ручку Кноб или ручку серии Дерево-Стекло для банных
            помещений.
        </p>
        <p><strong>Важно</strong>: при монтаже представленных конструкций в парную дополнительно не используются
            какие-либо уплотнители.
        </p>
    </div>
</div>
</div>
{% endblock %}