{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/banka_m_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ БАНЬКА М</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/derevo_s_vodoi_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ДЕРЕВО С ВОДОЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dom_s_lebedyami_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ДОМ С ЛЕБЕДЯМИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/les_V1_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ЛЕС В.1Р</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/les_V2_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ЛЕС В.2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/listya_belie_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ЛИСТЬЯ БЕЛЫЕ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/medved_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ МЕДВЕДЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/parok_v1_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ПАРОК В.1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12435 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
            <p>* В комплект двери для сауны входит: коробка сращенная, ручка кноб, петли, стекло.</p>
            <p style="text-align: justify;"><strong>Уникальность технологии и серии Глассджет
                    «</strong><strong>GLASSJET»</strong></p>
            <p style="text-align: justify;">На сегодняшний день ни один другой производитель, кроме завода Акма не
                выпускает подобных дверей. Уникальные сверхпрочные рисунки являются такими надежными по причине того,
                что керамическая краска запекается в само стекло. Модели данной серии уже узнаваемы и популярны в
                России. Самыми популярными моделями в монохромной серии смело можно назвать модели Банька, Дерево с
                водой, Дом с лебедями, Медведь. Рекомендуем вам также посмотреть межкомнатные стеклянные двери, изготовленные
                по аналогичной технологии. Это коллекция Сатин (Satin), где наибольший интерес вызывают модели Граффити
                и Аркада.</p>
        </div>
    </div>
    {% endblock %}