{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/afrika_0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ В БАНЮ АФРИКА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/banka-shapka_0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ БАНИ БАНЬКА-ШАПКА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dlya_dushi_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ В БАНЮ ДЛЯ ДУШИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dashin_uzor_0x350_c7c (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ДАШИН УЗОР</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/dve_vetki_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ В САУНУ ДВЕ ВЕТКИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/geran_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ В БАНЮ ГЕРАНЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/kompozicia_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ В БАНЮ КОМПОЗИЦИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/osen_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ БАНИ ОСЕНЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 7 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p>* В комплект двери для сауны входит: коробка сращенная, ручка кноб, петли, стекло.</p>
        <p style="text-align: justify;"><strong>Технические характеристики серии
            </strong><strong>AJIO (АЖИО)</strong></p>
        <p style="text-align: justify;">Серия выполнена из прозрачного бронзового стекла с рисунком
            из запекаемой керамической краски. Краска НЕ стирается, НЕ царапается, НЕ выцветаем и
            является очень прочной. Коробка выполнена из массива сращенной липы, дверь
            укомплектована петлями в цвете 75 Хром, ручка-магнит.
        </p>

    </div>
</div>
{% endblock %}