{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hmel_0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ХМЕЛЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/les_v3_0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ЛЕС В.3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/listya_zelen_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ЛИСТЬЯ ЗЕЛЕНЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/polennica_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ ПОЛЕННИЦА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/s_legkim_parom_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ С ЛЕГКИМ ПАРОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/staraya_dver_s_oknom_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ СТАРАЯ ДВЕРЬ С ОКНОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/staroe_derevo_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ САУНЫ СТАРОЕ ДЕРЕВО</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> печать керамическими красками</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (липа).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 25823 РУБ.
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="col-md-12">
                <p>
                <div class="col-md-12">
                    <p>* В комплект двери для сауны входит: коробка сращенная, ручка кноб, петли, стекло.</p>
                    <p style="text-align: justify;"><strong>Популярные модели серии Глассджет
                            «</strong><strong>GLASSJET» цветные</strong></p>
                    <p style="text-align: justify;">Серия Глассджет цветные появилась относительно недавно, но уже
                        пользуется устойчивым спросом среди российских покупателей. Цветной рисунок наносится на
                        бесцветное стекло. Максимально возможная высота – 2000 мм.&nbsp; Популярными моделями и
                        безусловными хитами продаж можно назвать модели Старое Дерево и Лес 3. В ближайшее время
                        планируется обновление коллекции новыми моделями.</p>
                    <p style="text-align: justify;"><strong>Фурнитура, комплектация и цена</strong></p>
                    <p style="text-align: justify;">Дверной коробкой служит сращенный массив липы.&nbsp;
                        Используются петли в цвете Хром и магнитная ручка-замок. Цена на нашем сайте указана за
                        полный комплект. Обратите внимание, что все цены на нашем сайте не оффертные и могут быть в
                        любой момент изменены.</p>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}