{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full_____________-______-75-_________0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ ДЛЯ САУНЫ БАНЬКА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечпть</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 6 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 10590 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full___________-______-75-_________0x350_c7c.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ ДЛЯ САУНЫ СОФИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong>Гравировка</p>
                    <p><strong>Цвет:</strong> Бронза матовая</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, коробка (осина).</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 12443 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p>* В комплект двери для сауны входит: коробка сращенная, ручка кноб, петли, стекло.</p>
        <p><strong>Технические характеристики серии Лайт для сауны и бани</strong></p>
        <p>Толщина стекла дверного полотна, как и говорилось ранее, составляет облегченные 6 (шесть мм) вместо 8, как в
            остальных сериях нашего объемного каталога дверей для бани и сауны из
                стекла. В связи с этим используется другая коробки и фурнитура. Коробка изготавливается не из
            сращенного массива липы, а из сращенного массива сосны или осины. Как правило в северных регионах выбирают
            сосновую коробку, но чем южнее, тем больше спрос на осиновую коробку. В комплекте используются самые простые
            петли в цвете «оливка». Ручка – простая деревянная с закрыванием «ролик за стекло».</p>
        <p><strong>Ассортимент коллекции Лайт (сауна-баня)</strong></p>
        <p>Кроме простых моделей без рисунка, в серию вошли модели София с алмазной гравировкой и Банька
            (шелкотрафаретная печать монохромной запекаемой керамической краской). Сделано это по многочисленным
            запросам со стороны крупных компаний, которые продают стеклянные двери для сауны
                оптом. Обратите внимание на тот факт, что самые продаваемые двери серии Лайт (сауна-баня) есть в
            наличии на нашем центральном складе в Москве по стандартным типоразмерам. Даже если они «выбиваются» из
            складских остатков, то срок их поставки в Москву со склада Санкт-Петербург составляет не более 3-4 дней.</p>
        <p><strong>Возможно вам потребуется что-то еще? </strong></p>
        <p>Кроме данной продукции наш завод производит абсолютно любые изделия из стекла. Рекомендуем вам изучить наш
            каталог по остальным видам изделий. Уверены в том, что вы обязательно найдете что-то, что вам потребуется
            при обустройстве своего жилого и загородного интерьерного пространства.</p>
    </div>
</div>
</div>
{% endblock %}