{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hamam-g60-mat-bronza_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G БРОНЗА МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 3-5 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 31 710 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hamam-g60-bronza_0x350_c7c.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G БРОНЗА ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бронза (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий).</p>
                    <p><strong>Наличие:</strong> На складе</p>
                    <p><strong>Сроки:</strong> 3-5 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 29 940 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hamam-g60-bc-akjol_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G АКЖОЛ ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Пескоструйный</p>
                    <p><strong>Цвет:</strong> Бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 31 710 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hamam-g60-bc-mat-akjol_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G АКЖОЛ МАТОВЫЕ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Пескоструйный</p>
                    <p><strong>Цвет:</strong> Бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 31 710 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/hamam-g60-bc-mat-meandr_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G МЕАНДР МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Пескоструйный</p>
                    <p><strong>Цвет:</strong> Бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА КОМПЛЕКТ : 31 710 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/hamam-g60-bc-mat_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный(возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 29 940 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/hamam-60g-vostochnii-1_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G ВОСТОЧНЫЙ 1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Пескоструйный с фьюзингами</p>
                    <p><strong>Цвет:</strong> Бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 52 830 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/hamam-60g-vostochnii-2_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ В ХАМАМ 60 G ВОСТОЧНЫЙ 2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Пескоструйный </p>
                    <p><strong>Цвет:</strong> Бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 690*1890 мм </p>
                    <p><strong>Толщина:</strong> 8 мм</p>
                    <p><strong>Фурнитура:</strong> Петли, ручка, магнитный уплотнитель, коробка (алюминий)</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 52 830 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p>* В комплект двери для сауны входит: коробка сращенная, ручка кноб, петли, стекло.

            Отличительная особенность серии ХАМАМ

            Влажность в бане Хамам достигает 100 % и данные 100 % необходимо сохранить для того, чтобы водная процедура
            была наиболее полезной для организма. Более того, при такой практически тропической влажности становится
            невозможным использование традиционных коробок из липы. Наше производство предлагает для данной серии
            использовать алюминиевую коробку, алюминиевую ручку, замок с магнитным открыванием, такие же алюминиевые
            петли. На выбор покупателю предлагается два типа алюминиевых коробок (1 более дорогая, 1 – более доступная,
            но облегченная).</p>
    </div>
</div>
{% endblock %}