{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_bronza_ofis (1).gif" class="img-fluid" alt="img" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА СМАРТ-БРОНЗА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 31 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 271 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_bc_dom.gif" class="img-fluid" alt="img" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА СМАРТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 273 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_bc_ofis_razdvig.gif" class="img-fluid" alt="" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОРОДКА БЕСЦВЕТНАЯ СМАРТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 31 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 271 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_bronza_dom.gif" class="img-fluid" alt="" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА СМАРТ-БРОНЗА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 273 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_serii_dom.gif" class="img-fluid" alt="" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА СМАРТ-СЕРЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 273 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart_seii_ofis.gif" class="img-fluid" alt="" width="520"  height="520"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА СМАРТ-СЕРЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 41 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 281 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/smart.gif" class="img-fluid" width="520"  height="520" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ РАЗДВИЖНАЯ ПЕРЕГОРОДКА СМАРТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> триплекс 5+5 с функцией затемнения</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена фурнитуры:</strong> 31 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 271 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА ЗА M2 ОТ: 40990 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>Производство смарт перегородок</h3>
                    <p style="text-align: justify;">При производстве смарт перегородок в офис или в квартиру
                        используется традиционная техника изготовления триплекс изделий, только вместо обычной
                        адгезивной пленки, применяется SEL-пленка (smart electricity lay). Она изготавливается в Италии
                        и в Южной Корее с использованием современных нанотехнологий. Покупателю предоставляется выбор
                        между более дешевой корейской, и более дорогой итальянской (дороже на&nbsp;~30 %). О разнице
                        материала и о технических особенностях и той, и другой sel-пленки, вам подробно расскажут наши
                        менеджеры. Во всем остальном, рекомендуем положиться на наш многолетний опыт в производстве
                        высококачественных изделий.</p>
                    <h3>Этапы заказа</h3>
                    <p style="text-align: justify;">Так как смарт перегородки относятся к премиальной группе и имеют
                        высокую стоимость, рекомендуется подойти к оформлению заказа предельно внимательно.
                        Предварительно рассчитайте цену изделия. Если она устраивает, то дальше работа идет по этапам:
                    </p>
                    <h4>Этап 1 – замер</h4>
                    <p style="text-align: justify;">При заказе перегородки из смарт стекла выезд специалиста к вам на
                        объект осуществляется бесплатно. Перед вызовом специалиста убедитесь, что все черновые работы
                        завершены и не будет дальнейшего изменения размеров стен, проемов и полов.</p>
                    <h4>Этап 2 – расчет перегородки и запуск в производство</h4>
                    <p style="text-align: justify;">После получения размеров ваш индивидуальный менеджер рассчитывает
                        окончательную цену и выставляет счет. После оплаты счета на 50 % предоплаты, заказ отправляется
                        в производство.</p>
                    <h4>Этап 3 – поступление на склад и организация монтажа</h4>
                    <p style="text-align: justify;">После поступления готовой смарт перегородки, вы доплачиваете
                        оставшиеся 50 % и менеджер организует монтаж и доставку изделия в вашем доме или офисе.
                        Рекомендуется использовать профессиональных монтажников для работы со стеклом и имеющих не
                        только необходимые навыки, но и комплект инструментов.</p>
                    <h4>Этап 4 – сдача изделия в эксплуатацию</h4>
                    <p style="text-align: justify;">После завершения монтажных работ, вы принимаете изделие в готовом
                        работающем виде и подписываете акт выполненных работ. Гарантия на монтажные работы составляет 1
                        год с момента приема. Помните о том, что единственным уязвимым местом закаленного стекла могут
                        быть исключительно торцы изделия. Не допускается примыкания торцов к стене без соответствующей
                        защиты.</p>
                    <p style="text-align: justify;">Размещая заказ на заводе крупнейшего в России заводе по производству
                        изделий из каленного стекла, вы получаете продукцию высшего качества, соответствующую всем
                        стандартам российского ГОСТа и международным требованиям.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}