{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodka-ofisnaya-s-risunkom_0x270_f2e.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОРОДКА ОФИСНАЯ С РИСУНКОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 86 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 89 173 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodka-ofisnaya-12-pr_0x270_f2e.jpg" class="img-fluid" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ОФИСНАЯ ПЕРЕГОРОДКА С ДВЕРЬЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 86 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 89 173 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/glass-sliding_0x270_f2e.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА ЛАЙТ - 2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 76 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 89 173 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ofis_bc_0x270_f2e.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА С ДВЕРЬЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 76 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 89 173 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/ofis_bronza_0x270_f2e.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА БРОНЗА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 76 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 76 173 РУБ.
                </div>
            </div>
        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/ofis_bronza_mat_0x270_f2e.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА БРОНЗА МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 76 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 76 173 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ofis_mat_bc_0x270_f2e.jpg" class="img-fluid" width="520"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм бесцветное (возможно бронзовое, серое)</p>
                    <p><strong>Рисунок:</strong> да (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х4800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 43 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 76 173 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    ЦЕНА : 76 173 РУБ.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h3>Почему из стекла, а не из гипсокартона?</h3>
                        <p style="text-align: justify;">Перегородить офисное пространство можно с помощью обычных листов
                            гипсокартона, выстроив каркас и облицовав ГКЛ обоями или просто покрасив. Однако, все
                            большую и большую популярность приобретают именно стеклянные ограждения, несмотря на то, что
                            они и дороже, и труднее в монтаже. Для их установки требуются более квалифицированные
                            специалисты с необходимым набором инструментов. Причина заключается в чрезвычайной
                            долговечности и прочности таких изделий. Если при обычной офисной нагрузке стены из ГКЛ
                            требуется обновлять каждый год (материал + оплата наемного труда + неудобство работы в
                            офисах во время ремонта), то перегородки из стекла практически вечный материал, который не
                            требует никаких обновления даже спустя десятилетия).</p>
                        <h3>Стекло намного выгоднее</h3>
                        <p style="text-align: justify;">Поэтому, несмотря на первичную высокую стоимость, стеклянные
                            изделия в результате получаются в два-три раза дешевле своих гипсокартонных аналогов. По
                            этой причине собственники офисных помещений предпочитают зонировать офисное пространство с
                            использованием перегородок и входных групп из стекла.</p>
                        <h3>Преимущества, к которым нечего добавить…</h3>
                        <p>Обратите внимание на неоспоримые преимущества стекла, как отделочного материала:</p>
                        <ul>
                            <li style="text-align: justify;">- низкая цена за м2. Стеклянная перегородка в офис
                                ненамного дороже пластиковой или ГКЛ.</li>
                            <li style="text-align: justify;">- безупречный внешний вид на протяжении десятилетий. Стекло
                                не стареет и не меняет своих свойств веками. При условии использования качественной
                                фурнитуры, изделие будет служить вам и вашим коллегам бесконечно долго.</li>
                            <li style="text-align: justify;">- экологическая чистота и высокая звукоизоляция изделий.
                                Подробнее о звукоизоляционных свойствах стекла читайте ЗДЕСЬ.</li>
                            <li style="text-align: justify;">- 100 % простота уборки и ежедневного ухода. Ничего
                                дополнительного кроме салфетки и воды.</li>
                            <li style="text-align: justify;">- 100 % современность и попадание в деловой стиль: ведущие
                                мировые компании используют только стекло для зонирования бизнес-пространства своих
                                представительств.</li>
                        </ul>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}