{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodga-knijka-iz-stekla_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОРОДКА ГАРМОШКА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2100х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 135670 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 135670 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodka-light-12-pr_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ СТЕКЛЯННАЯ ПЕРЕГОРОДКА URBAN LOFT</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло Pilkington 10 мм</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2400х2700мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость м2. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 124 767 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 124767 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/glass door_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА ЭМАЛИТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое</p>
                    <p><strong>Рисунок:</strong> Белая покраска (Возможен цвет по RAL, фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х1600мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 24 904 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 49 829 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 49 829 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mirra-2_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА МИРРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое</p>
                    <p><strong>Рисунок:</strong> Пескоструйный рисунок</p>
                    <p><strong>Размеры:</strong> 2100х1600мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 24 904 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 56 534 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 56 534 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mirra-4_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА МИРРА-2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое</p>
                    <p><strong>Рисунок:</strong> Пескоструйный рисунок</p>
                    <p><strong>Размеры:</strong> 2100х1600мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 31 348 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 78 793 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 78 793 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lotos_prosrachnii_akma_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА ЛОТОС ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2500х3000мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 31 348 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 78 793 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 78 793 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/fixing-system-for-glass-sliding-door-55751-1591133_0x270_f2e.jpg"
                    alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ РАЗДВИЖНАЯ ДВЕРЬ ЛАЙТ - 1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое(возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> нет (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 14 633 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 19 696 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 19 696 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/hafele_hero2_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ СТЕКЛЯННАЯ ДВЕРЬ ЛАЙТ - 4</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое(возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> нет (возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2100х1200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Цена за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Комплект фурнитуры:</strong> 14 633 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 25 581 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 25 581 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>ВЫБИРАЕМ ПРАВИЛЬНУЮ ФУРНИТУРУ</strong></h3><br>
        <p> Как мы отмечали ранее, для долгой и безупречной эксплуатации вашей будущей раздвижной системы из стекла
            потребуется учесть большое количество аспектов, где выбор фурнитуры играет, пожалуй, ключевую роль, после
            качества самого стекла. Российский рынок предлагает множество вариантов фурнитуры под раздвижные системы
            самого различного ценового диапазона – от дешевой до неоправданно дорогой. Заведомо известно, что дешевая
            фурнитура имеет чрезвычайно низкое качество и недопустима к использованию по требованиям безопасности. Завод
            Акма комплектует свои раздвижные стеклянные конструкции ТОЛЬКО надежной и безопасной фурнитурой, которая
            прошла необходимые испытания на вес, статическое и динамическое напряжение. Посмотреть наш каталог фурнитуры
            для стекла вы можете ЗДЕСЬ. Тем не менее, как завод-производитель, мы готовы изготовить стеклоконструкции
            под уже закупленную или выбранную вами фурнитуру, сделав необходимые сверления и обработку отверстий в
            стекле. Наша цена при этом остается прежней и не имеет повышающего коэффициента.</p>
    </div>
</div>
{% endblock %}