{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/loft-minima-belii_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ СИСТЕМА «ЛОФТ МИНИМА» (4 ДВЕРИ)</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 3200х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость за кв.м.:</strong> 18 170 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 143 900 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 143900 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/alum-peregorodka_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>АЛЮМИНИЕВАЯ ПЕРЕГОРОДКА СО СТЕКЛОМ С ФАЦЕТОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 3200х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость за кв.м.:</strong> 22 730 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 174 620 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 174 620 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/loft-minima-chern_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЮМИНИЕВАЯ ПЕРЕГОРОДКА СО СТЕКЛОМ «ЛОФТ МИНИМА»</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 3200х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость за кв.м.:</strong> 18 170 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 143 900 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 143900 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/zerkalnaya-peregorodka-1_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОРОДКА ЗЕРКАЛЬНАЯ 4-С</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Зеркало, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость м2. стекла без обработки:</strong> 1650 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 97 200 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 97 200 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/loft-minima-grey_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЮМИНИЕВАЯ ПЕРЕГОРОДКА СО СТЕКЛОМ ЛОФТ МИНИМА ТЕЛЕСКОПИК</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 3200х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость за кв.м.:</strong> 22 190 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 129 600 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 129 600 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/zerkalnaya-peregorodka-oreh-4s_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЮМИНИЕВАЯ ПЕРЕГОРОДКА С ЗЕРКАЛОМ ОРЕХ 4-С</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Зеркало, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong>до 25 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 93 180 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 93 180 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/zerkalnaya-peregorodka-vibelennii-dub-4s_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ПРОФИЛЬНАЯ ПЕРЕГОРОДКА ЗЕРКАЛЬНАЯ ВЫБЕЛЕННЫЙ ДУБ 4-С</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Зеркало, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 2500х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 97 473 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 97 473 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>Преимущества</strong></h3>
        <p style="text-align: justify;">Использование традиционных алюминиевых профилей и обычного матового стекла при
            изготовлении перегородки позволяет добиться следующих преимуществ:</p>
        <ul>
            <li>Низкая цена: из всех типов межкомнатных раздвижных конструкций, алюминиевые - самые дешевые;</li>
            <li>Быстрые сроки изготовления: от замера до монтажа проходит всего 3-4 недели;</li>
            <li>Долговечность облицовки: так как алюминий облицован плотной ламинированной пленкой, перемычки
                практически не царапаются, не меняют своего цвета и не оставляют вмятин при ударах;</li>
            <li>Огромный выбор цветов и дизайнов: мы предложим вам свыше 100 различных цветов, включая самые популярные:
                венге, выбеленный дуб, белые и натуральные оттенки дерева, цвета ореха. Есть всевозможные варианта
                окраски по каталогу РАЛ;</li>
            <li>Легкость конструкции позволяет использовать их на стенах из гипсокартона.</li>
        </ul>
        <h3><strong>Варианты заполнения</strong></h3>
        <p style="text-align: justify;">В зависимости от того, насколько сложна будет ваша будущую перегородка, сколько
            в ней будет перемычек и насколько она будет высокой, мы можем предложить вам несколько вариантов заполнения
            внутрикаркасного заполнения:</p>
        <ul>
            <li>- заполнение ДСП-плитой в цвет перемычек;</li>
            <li>- заполнение прозрачным, матовым или бронзовым стеклом;</li>
            <li>- зеркалами, кожаными вставками и другими декоративными элементами.</li>
        </ul>
        <p style="text-align: justify;">Выбранные вами перегородки из алюминиевого профиля могут иметь две различных
            системы крепления: к верхней части без нижних рельсов; с нижними рельсами по принципу дверей в шкафах-купе.
        </p>
        <h3><strong>Индивидуальная встраиваемость</strong></h3>
        <p style="text-align: justify;">Наши изделия могут быть встроены практически в любые проемы и размеры вашей
            квартиры. Наиболее популярными вариантами зонирования с помощью алюминиевых профильных перегородок являются
            варианты по:</p>
        <ul>
            <li>- отделению гардеробной зоны от зоны спальни;</li>
            <li>- зонирование гостиной от кухонной зоны;</li>
            <li>- выделение детской, рабочей или гостевой зон от кровати.</li>
        </ul>
        <p style="text-align: justify;">Предлагаем вам рассчитать стоимость решения по встраиванию профильной системы в
            вашу квартиру прямо на нашем сайте. Наши менеджеры вышлют вам предварительный расчет в течении 1 рабочего
            часа после получения заявки. Если вас устроит цена (а мы уверены, что наша цена – одна из лучших), вам
            предложат услуги профессионального мастера для проведения замерочных работ. Внимательно изучите фото в
            интерьере перегородок из алюминия на нашем сайте – возможно, там есть подходящее для вас уже готовое
            решение. Если такового не оказалось, вернитесь в наш главный раздел с, где вы найдете еще сотни интерьерных
            решений по зонированию квартиры из разных материалов.</p>
    </div>
</div>
{% endblock %}