{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodka-loft2_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>КВАРТИРНАЯ ПЕРЕГОРОДКА ЛОФТ-2 ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2500х23200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 30 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 88 379 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 88 379 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mirra-buket_0x270_f2e.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА В КВАРТИРУ БУКЕТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм (возможна бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Пескоструйный рисунок</p>
                    <p><strong>Размеры:</strong> 2500х23200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 30 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 96 339 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 96 339 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodka-light-kuhnya_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА НА КУХНЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм </p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 1800х700х2500мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Стоимость за кв.м. стекла без обработки:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 30 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 57 499 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 57 499 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/loft-minima-chern-mat_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПРОФИЛЬНАЯ ПЕРЕГОРОДКА В КВАРТИРУ С МАТОВЫМ СТЕКЛОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 3200х2400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Стоимость за кв.м.:</strong> 18 170 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 30 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 143 900 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 143 900 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/akma_belaya_3S_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОРОДКА БЕЛАЯ С МАТОВЫМ СТЕКЛОМ 2-С</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло, дерево</p>
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Размеры:</strong> 1800х2500мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                    <p><strong>Стоимость за кв.м.стекла без обработк:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 30 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 64 763 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 64 763 руб.
                </div>
            </div>

        </div>
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/mirra-pticinacvetke_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ПЕРЕГОРОДКА В КВАРТИРУ ПТИЦЫ НА ВЕТКЕ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм (возможна бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Пескоструйный рисунок</p>
                    <p><strong>Размеры:</strong> 2500х3200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 30 дней</p>
                    <p><strong>Стоимость за кв.м.стекла без обработк:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 41 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 103 965 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 103 965 руб.
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card-body">
                <img src="../static/img/lotos_prosrachnii_akma_0x270_f2e (1).jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>КВАРТИРНАЯ ПЕРЕГОРОДКА ЛОТОС ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм </p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2500х3200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 30 дней</p>
                    <p><strong>Стоимость за кв.м.стекла без обработк:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 33 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 88 379 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена: 88 379 руб.
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lotos_0x270_f2e.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>КВАРТИРНАЯ ПЕРЕГОРОДКА ЛОТОС</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Прозрачное стекло 10 мм </p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2500х3200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 30 дней</p>
                    <p><strong>Стоимость за кв.м.стекла без обработк:</strong> 1 650 ₽.</p>
                    <p><strong>Цена фурнитуры:</strong> 41 379 ₽.</p>
                    <p><strong>Стоимость готового изделия:</strong> 111 285 ₽.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 111 285 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="col-md-12">
            <p style="text-align: justify;"><strong>Декоративные стеклянные перегородки в квартире</strong> – это самый
                современный и самый простой способ зонирования в квартире или в квартире-студии. Завод Акма предлагает
                вам сотни декоративных решений по оформлению стеклянных полотен в разных интерьерных стилях, начиная от
                модного лофта, заканчивая арт-деко и ампиром. Под каждый стиль мы предложим свой эксклюзивный дизайн и
                выгодные цены на изготовление и монтаж.</p>
            <h3 style="text-align: justify;">Шире, сильнее, выше – 100 % лучшие варианты зонирования от Акмы</h3>
            <p style="text-align: justify;">Наше производство, в отличие от более мелких, не ограничивает вас ни в одном
                решении по зонированию вашего межкомнатного пространства. Мы производим перегородки любой высоты и
                ширины, наносим на них рисунки и красим в разные цвета, клеем декоративные витражные фьюзинги и
                триплексуем фотопечать – вам остается только выбрать! При этом, обратите внимание на то, что наши
                изделия обладают безупречным качеством, а производство - безукоризненной репутацией. Мы производим 100 %
                надежные, безопасные и элегантные мобильные конструкции для любых видов помещений вашей
                квартиры.<br>Каталог с фотографиями в интерьере – дизайн и цены сразу на сайте</p>
            <p style="text-align: justify;">Наш каталог стеклянных перегородок для квартиры находится в постоянном
                наполнении новыми решениями и новыми фото в интерьере: предлагаемый нами дизайн и оформление полотен
                сразу представлено с ценами, чтобы вы могли быстро сориентироваться и подобрать удобный для вас вариант.
                Цена указана за м2. Для быстрого расчета стоимости, вы можете отправить запрос нам на почту, заполнив
                простую форму заявки: наши менеджеры свяжутся с вами в течении 1-2 рабочих часов.</p>
        </div>
    </div>
</div>
{% endblock %}