{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lestnica_v_gostinicu_iz_stekla_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛЕСТНИЦА В ГОСТИНИЦУ ИЗ СТЕКЛА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lestnichnoe_ograzhdenie_iz_stekla_akma_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛЕСТНИЧНОЕ ОГРАЖДЕНИЕ ИЗ СТЕКЛА АКМА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lestnichnoe_ograzhdenie_iz_stelka_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННОЕ ОГРАЖДЕНИЕ ДЛЯ ЛЕСТНИЦЫ</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ofisnaya_lestnica_iz_stekla_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ОФИСНАЯ ЛЕСТНИЦА ИЗ СТЕКЛА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lestnichnoe_steklannoe_ograzhdenie_akma_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ОГРАЖДЕНИЕ ДЛЯ ЛЕСТНИЦЫ ИЗ СТЕКЛА АКМА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lestnichnoe_ograzhdenie_iz_stelka_akma_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННОЕ ЛЕСТНИЧНОЕ ОГРАЖДЕНИЕ</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ograzhdenia_dla_lestnic_iz_stekla_400x0_be0.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ОГРАЖДЕНИЯ ДЛЯ ЛЕСТНИЦ ИЗ СТЕКЛА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/ograzhdenia_dla_lestnic_iz_stekla_2_400x0_be0.jpg"
                    alt=""></a><br><br>
                <div class="heading">
                    <h3>ОГРАЖДЕНИЯ ДЛЯ ЛЕСТНИЦЫ ИЗ СТЕКЛА АКМА</h3><br>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ИНДИВИДУАЛЬНО ПО РАСЧЕТУ
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;"><strong>Стеклянные лестницы</strong>&nbsp;- необходимый атрибут современного
            загородного дома, который оснащен последними технологиями, в том числе технологиями "умный дом". Когда все
            подчинено разумной идее эффективного использования ресурсов и возможностей, такой материал, как закаленное
            стекло становится по-настоящему незаменимым, ведь оно:</p>
        <ul>
            <li>- не выгорает и не меняет свой цвет;</li>
            <li>- экологически чистое и безвредное;</li>
            <li>- легко в уборке и недорого стоит;</li>
            <li>- абсолютно безопасно и максимально долговечно.</li>
        </ul>
        <h3>ИЗГОТОВЛЕНИЕ ЛЕСТНИЦ, ПЕРИЛ И ОГРАЖДЕНИЯ ИЗ СТЕКЛА НА ЗАКАЗ В МОСКВЕ</h3>
        <p style="text-align: justify;">Российский завод Акма предлагает вам производство на заказ стеклянных
            конструкций в Москве и всех необходимых комплектующих по индивидуальным размерам. Мы быстро и эффективно
            рассчитаем, составим проект, а затем выпустим:</p>
        <ul>
            <li>- стеклянную лестницу любого типа (маршевую, винтовую, угловую);</li>
            <li>- ограждения по вашим размерам;</li>
            <li>- перила и ступени;</li>
        </ul>
        <h3>ЭТАПЫ РАСЧЕТА И ЗАКАЗА ПРОДУКЦИИ: МИЛЛИМЕТРЫ ИГРАЮТ РОЛЬ</h3>
        <p style="text-align: justify;">Просим обратить внимание покупателей на тот факт, что при оформлении заявки на
            любую стекло продукцию чрезмерно важно соблюсти максимальную точность: каждая деталь (элемент перил,
            ступеней и подступёнков, боковых ограждений), которая прошла процесс закаливания, уже НЕ поддается
            переделке. Каждый миллиметр играет роль. Именно по этой причине мы просим вас вызывать нашего
            квалифицированного технолога на объект для снятия точных размеров, либо предоставлять максимально точные
            данные с вашей стороны для того, чтобы не возникла ситуация со срывом сроков изготовления или невозможностью
            монтажа.</p>
        <p>План работ:</p>
        <ul>
            <li>1: согласование проектной&nbsp;стоимости изделия;</li>
            <li>2: выезд на объект технолога для дальнейшей консультации и обмеров;</li>
            <li>3: окончательный расчет стоимости и заключение договора;</li>
            <li>4: изготовление, доставка и монтаж (по желанию заказчика);</li>
            <li>5: комфортная эксплуатация в вашем доме;</li>
        </ul>
        <h3>ЦЕНА И СРОКИ ИЗГОТОВЛЕНИЯ ЛЕСТНИЦ ИЗ СТЕКЛА НА ЗАКАЗ</h3>
        <p style="text-align: justify;">Так как все нестандартные изделия имеют разные типоразмеры и толщину, стоимость
            каждой детали рассчитывается отдельно с учетом врезки отверстий под фурнитуру. Со своей стороны, хотим
            заверить вас, что&nbsp;<strong>цена на стеклянные лестницы Акма</strong>&nbsp;будет одной из самых выгодных
            в Москве по нескольким причинам:</p>
        <ul style="text-align: justify;">
            <li>а) наш завод - крупнейший в стране и обладает самыми выгодными ценами на сырье;</li>
            <li>б) наше оборудование - самое современное и практически безотходное, что не может не сказаться на
                конечной стоимости;</li>
            <li>в)&nbsp;заказать продукцию Акма&nbsp;- значит купить надежное изделие с гарантией от производителя на
                материал, высокое качество проектирование и производства;</li>
        </ul>
        <p style="text-align: justify;">Получите предварительную консультацию нашего менеджера или отправьте нам
            предварительную заявку с расчетом. Мы сделаем все, чтобы вы остались довольны&nbsp;нашими ценами, сроками
            производства и качеством.</p>
    </div>
</div>
{% endblock %}