{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet2.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ Z-01</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet6.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ Z-02</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" class="img-fluid" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet1 (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet3.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii_kabinet4.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ КАБИНЕТ Z-03</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> возможны различные размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Современный офис – визитная карточка компании. Любой переговорный процесс
            напрямую зависит от того, как презентабельно выглядит рабочее пространство вашей организации, и насколько
            комфортно работать в ней сотрудникам и руководителям. Превратить обычный офис в стильный и современный вам
            поможет такое дизайнерское решение, как <strong>стеклянные кабинеты для руководителей и персонала</strong>.
            Стоимость их не так высока, как может показаться при первом приближении. Сделанные на заказ и имеющие
            сборно-разборную конструкцию, они превращаются для вас в выгодную инвестицию, которая позволяет превратить
            обычный <span lang="en-US">open</span> <span lang="en-US">space</span> в рабочую зону для ключевых
            сотрудников вашего офиса.</p>
        <h3><strong>Ключевые преимущества стеклянного кабинета</strong></h3>
        <ol>
            <li>
                <p><strong>Возможность переезда</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">Можно ли назвать кабинет из стекла – мобильным офисом? Конечно, можно. При
            переезде вы демонтируете и перевозите всю конструкцию вместе с мебелью. Так, однажды проинвестировав в
            деловой имидж, вам не придется делать это снова и снова, как в обычных случаях.</p>
        <ol start="2">
            <li>
                <p><strong>Легкость уборки и вечная новизна</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">Стекло – одни из самых долговечных и прочных материалов, которое не нуждается в
            реставрации и очень прост в уборке. При этом, все всегда выглядит, как новое и свежее.</p>
        <ol start="3">
            <li>
                <p><strong>Стильный и эстетически приятный внешний вид</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">Время, когда офис могли сделать в вагончике или морском контейнере для
            грузоперевозок давно прошло. Сегодня внешний облик офиса любой компании либо привлекает новых клиентов, либо
            их отталкивает навсегда. Кабинет или рабочая зона из стекла выглядит по-европейски стильно и модно.</p>
        <ol start="4">
            <li>
                <p><strong>Высокое качество от стекольного завода № 1 в России</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">Акма гарантирует вам соблюдение всех российских и международных стандартов при
            изготовлении любых нестандартных интерьерных решений из стекла. Наша качество стало уже легендарным и по
            достоинству оценено во многих странах мира, включая США, Канаду и Европу.</p>
        <ol start="5">
            <li>
                <p><strong>Выгодные цены на изготовление и монтаж – пожалуй, лучшие в Москве</strong></p>
            </li>
        </ol>
        <p style="text-align: justify;">Предлагаем вам оценить наши производственные возможности и прислать обычную
            заявку на расчет. Уверены, что наша <strong>цена на стеклянный кабинет</strong> будет самой конкурентно
            способной из всех предложений, полученных вами ранее.</p>
        <h4><strong>Как происходит заказ и расчет стеклянных кабинетов?</strong></h4>
        <p style="text-align: justify;">Все просто: вы высылаете нам предварительные размеры – мы рассчитываем цену.
            После согласования цен и необходимой фурнитуры, мы высылаем к вам технолога на объект для обсуждения деталей
            и снятия всех размеров во всех плоскостях. Далее – мы чертим и проектируем. Согласование. Запуск в
            производство, изготовление и монтаж нашими специалистами вашего современного и стильного стеклянного
            кабинета.</p>
        <h4><strong>История появления стеклянных кабинетов</strong></h4>
        <p style="text-align: justify;">Построение рабочих зон с помощью возведения стационарных или мобильных
            стеклянных перегородок, появилось, как бы грустно это не звучало, в исключительной борьбе за повышение <span
                lang="en-US">CPI</span> сотрудников. Просматриваемые стены давали возможность руководителю моментально
            получить представление о том, чем занимается персонал в рабочее время. Правда, в последствии, благодаря
            дизайнерам и архитекторам, которые стремились решить не только функциональную задачу, но и эстетическую, все
            изменилось.</p>
        <h4>Чем еще мы можем быть вам полезны?</h4>
        <p style="text-align: justify;">Наш завод предлагает большой вариативный ряд стеклянных решений для офисного
            интерьера. Наши дизайнеры и архитекторы спроектировали сотни офисных интерьеров с использованием самых новых
            моделей. Уверены, что вас могут заинтересовать такие изделия, как:</p>
        <p>- входные стеклянные маятниковые двери: уличные и внутренние – мы изготовим любые
        </p>
        <p>- межкомнатные двери стеклянные для офисов и офисных санузлов;</p>
        <p>- качественная и надежная мебель из стекла, включающая и компьютерные столы для ваших сотрудников;
        </p>
        <p align="center">Звоните нам уже сегодня. Есть большая доля вероятности в том, что наша продукция – это именно
            то, что вы ищете!</p>
    </div>
</div>
{% endblock %}