{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/1480351202_1_mini3.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 01</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/12391274286754.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 02</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/b3a63bd15ad7587ae60b709b8bc6355c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 03</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/FLK_PEREGORODKA_001.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 04</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/peregorodki_office_stacionarnie_15.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 07</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/information_items_1289.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 06</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/information_items_1707.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 08</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/information_items_1708.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕРЕГОВОРНАЯ ИЗ СТЕКЛА А 09</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло </p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Толщина:</strong> 10-12 мм </p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> от 21 дня</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ПО ЗАПРОСУ
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;"><strong>Переговорные из стекла -&nbsp; </strong>атрибут современного офиса
            премиального уровня. Прозрачные или матовые, с геометрическим рисунком или с полупрозрачной фотопечатью –
            они являются частью делового имиджа компании 21 века, создавая комфортные и эффективные настроения для
            плодотворного делового процесса. Стекольный завод Акма предлагает вам проектирование и производство
            переговорных стеклянных зон повышенного качества. Наши стеклоизделия имеют отличные оптические и
            механические свойства, все материалы проходят многократную проверку ОТК и санитарных тестов; а замер,
            проектирование и монтаж осуществляется лучшими специалистами с многолетним опытом работы.</p>
        <p><strong>Широчайшая вариативность и дизайн, соответствующий вашему стилю</strong></p>
        <p style="text-align: justify;">Чаще всего созданием нового офисного пространства в современных и успешных
            компаниях занимаются архитекторы и дизайнеры, которые хорошо знакомы с тенденциями мировой интерьерной моды.
            Они хорошо знают возможности и вариативности дизайнов стекла, лично знакомы с наиболее интересными проектами
            интерьеров мировых компаний. Тем не менее, мы бы хотели ознакомить вас еще раз с возможностями нашего
            производства, которое является одним из крупнейших в России. Итак, мы можем сделать стеклянные переговорные
            из:</p>
        <p>- любого матового или прозрачного стекла, включая серое и бронзовое;</p>
        <p>- обычного сырого, прочного каленого или сверхпрочного триплексного стекла;</p>
        <p>- любой толщины (но рекомендуется использование толщин не менее 8 мм) и под любые нагрузки;</p>
        <p>- с нанесением фотопечати без подложки (полупрозрачная фотопечать)/ с подложкой (непрозрачная фотопечать) с
            высочайшим качеством самой печати;</p>
        <p>- с нанесением шелкотрафаретной печати, которая позволяет вам нанести на перегородки корпоративную информацию
            (логотипы/слоганы/цитаты);</p>
        <p>- с нанесением алмазной гравировки по вашему эскизу;</p>
        <p>- мы можем покрасить стекло в любой цвет по палитре РАЛ;</p>
        <p style="text-align: justify;">Мы бы хотели сообщить вам о том, что наши возможности по декоративной обработке
            стекла для переговорных являются лучшими в стране, так как наш завод оснащен самым современным и
            высокотехнологичным оборудованием американского, итальянского, немецкого и китайских производств. Высылайте
            нам свои идеи и эскизы – уверены, что мы сможем реализовать любой, даже самый сложный художественный
            замысел, при создании креативной переговорной из каленого стекла для вашего офиса.</p>
        <p><strong>Этапы размещения заказа и процесс изготовления</strong></p>
        <p style="text-align: justify;">Стеклоизделия – это всегда изделия, которые изготавливаются мм-в-мм и являются
            технически сложными. Учитывая невозможность переделки каленого стекла, надо максимально тщательно отнестись
            ко всем этапам проектирования, снятия замеров и монтажа. Дизайнерам важно продумать всю функциональность,
            технологам нашего завода идеально измерить все рабочие плоскости, конструкторам сделать точный расчет, а
            монтажникам – профессиональный монтаж переговорной. Средний срок производства переговорной из стекла «под
            ключ» со всеми согласованиями и сдачей составляет 3 месяца. Просим принять данный факт во внимание при
            проведении финишных отелочных работ.</p>
    </div>
</div>
{% endblock %}