{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mayatnik-uliana_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>МАЯТНИКОВАЯ КОНСТРУКЦИЯ ИЗ СТЕКЛА «ЮЛИАНА»</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2300х2800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 41 785 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 62781 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/maytnik-loft_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>МАЯТНИКОВАЯ ВХОДНАЯ ГРУППА «ЛОФТ»</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2300х2800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 60 053 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 81049 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/maytnik-avrora_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ВХОДНАЯ ГРУППА ИЗ СТЕКЛА «АВРОРА»</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2300х2800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 48 861 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 69857 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mayatnik_2_akma_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ МАЯТНИКОВАЯ ДВЕРЬ АКМА 2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 8мм матовое (возможно бронза, серое, прозрачное)</p>
                    <p><strong>Рисунок:</strong> матовый (Возможна фотопечать)</p>
                    <p><strong>Размеры:</strong> 2300х1400мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 23 425 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 8 683 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 32108 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mayatnik_1_akma_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ МАЯТНИКОВАЯ ДВЕРЬ АКМА 1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> нет (Возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2500х2500мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 33 593 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 54589 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mayatnik_3_akma_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ МАЯТНИКОВАЯ ДВЕРЬ АКМА 3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> нет (Возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2700х3600мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 52 245 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 27 112 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 79357 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/mayatnik_4_akma_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ МАЯТНИКОВАЯ ДВЕРЬ АКМА 4</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> нет (Возможно матирование и фотопечать)</p>
                    <p><strong>Размеры:</strong> 2300х1200мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 14 835 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 19 380 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 34215 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/mayatnik-ksenia_0x325_dfa (1).jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>МАЯТНИКОВАЯ ГРУППА ИЗ МАТОВОГО СТЕКЛА "КСЕНИЯ"</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Материал:</strong> Стекло 10мм классическое (возможно бронза, серое)</p>
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Размеры:</strong> 2300х2800мм (Возможны любые размеры)</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                    <p><strong>Стоимость стекла:</strong> 60 053 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 20 996 руб.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 81049 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;"><strong>Стеклянные маятниковые двери</strong>&nbsp;– входные группы, которые
            могут открываться в разные стороны по принципу работающего маятника. Данные конструкции особенно актуально в
            зонах высокой проходимости при высоком людском потоке. Чаще всего – это коммерческие помещения: офисы,
            магазины, пассажирские зоны в аэропортах и ж/д вокзалах. Для того чтобы подобная установка могла выдержать
            сверхвысокие эксплуатационные нагрузки, традиционно её изготавливают из сверхпрочных материалов: используют
            закаленное стекло и металлическую фурнитуру.</p>
        <h3>ИЗГОТОВЛЕНИЕ МАЯТНИКОВЫХ ПОЛОТЕН ПО РАЗМЕРАМ ЗАКАЗЧИКА</h3>
        <p style="text-align: justify;">Наш завод производит и осуществляет монтаж «под ключ» полотен маятникового типа
            для входных групп любых размеров и любой степени технической сложности. Мы предлагаем поверхности высотой до
            3 метров и шириной до 2 метров без рисунка и с шириной до 1 метра с рисунком. Обратите внимание на то, что
            наше производство реализовало сверхсложные объекты по проектированию и монтажу подобных моделей в свыше 1000
            объектах по всей России, среди которых: метро Санкт-Петербурга, деловой центр Москва-Сити, стадион Спартак
            Арена, океанариумы и аквариумы, автосалоны и бизнес центры, торговые центры и рестораны, бутики и магазины.
            Посмотреть примеры реализованных заказов можно здесь.</p>
        <h3>ПРИМЕРЫ ВХОДНЫХ ГРУПП И ЦЕНЫ</h3>
        <p style="text-align: justify;">Все изделия производства Акма изготавливаются из высокопрочного стекла на лучшем
            американском и итальянском оборудовании с использованием новейших технологий стеклообработки. Наши
            закаленные полотна проходят многоразовый контроль качества на всех этапах производства и проверку на
            самовзрываемость в специальных печах. Мы гарантируем практически лучшее качество закаленного стекла в
            России. На фото ниже вы можете выбрать наиболее близкий для вас пример двери, отправить нам заявку на расчет
            с вашими размерами. Наши менеджеры быстро и оперативно предоставят вам все расчеты по цене и стоимости
            изделий. По отзывам наших постоянных клиентов, наши&nbsp;<strong>цены на стеклянные маятниковые двери - одни
                из лучших в Москве</strong>, а изделия имеют отличный уровень качества.</p>
        <h3>КАК КУПИТЬ НА ЗАКАЗ В МОСКВЕ?</h3>
        <p>Процесс покупки и заказа нестандартной стекольной продукции происходит в несколько этапов и, на первый
            взгляд, может показаться сложным:</p>
        <ul>
            <li>- первичные переговоры и консультации по телефону с менеджером завода Акма;</li>
            <li>- выезд мастера-замерщика на объект для проверки и оценки возможности установки конструкции и размерных
                нюансов;</li>
            <li>- расчет финальной стоимости конструкции входной группы из стекла согласно пожеланиям заказчика или
                архитектора;</li>
            <li>- запуск в производство и изготовление в течении 2-3 недель;</li>
            <li>- доставка и монтаж на объекте заказчика;</li>
        </ul>
        <p style="text-align: justify;">На самом деле, если вы работаете с компанией, которая изготовила и установила
            уже много тысяч подобных дверей,&nbsp;купить маятниковые двери из стекла в Москве&nbsp;становится простым и
            увлекательным процессом, в ходе которого вы узнаете массу любопытных фактов о стекле, как о чрезвычайно
            прочном и надежном материале.</p>
        <h3>ВАРИАНТЫ ДИЗАЙНА ДЛЯ ОФОРМЛЕНИЯ ВХОДНОЙ ГРУППЫ</h3>
        <p style="text-align: justify;">Завод Акма оснащен лучшим стеклообрабатывающем оборудованием в России и имеет
            непревзойденные возможности по дизайну маятниковых стеклоконструкций. Мы можем изготовить полотна:</p>
        <ul>
            <li>- с рисунком по пескоструйной технике нанесения;</li>
            <li>- с рисунком по алмазной технике гравировки;</li>
            <li>- с рисунком по методу нанесения керамопечати (несмываемый рисунок!)</li>
            <li>- с фотопечатью;</li>
            <li>- из триплекса;</li>
            <li>- из матового, бронзового и серого стекла;</li>
            <li>- толщиной 8-10 и 12 мм.</li>
        </ul>
        <p style="text-align: justify;">Проконсультируйтесь с вашим менеджером для того, чтобы понять оптимальный
            вариант дизайна для вашей входной группы – для вас подберут идеальную технику нанесения надписей, гравировки
            и фотопечати.</p>
    </div>
</div>
{% endblock %}