{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/kukhni-so-skinali-osobennosti-foto21.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ ФАРТУК ДЛЯ КУХНИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет (прозрачное)</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 5700 РУБ./М2*
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/skinali-dlya-kukhni.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СКИНАЛИ С РИСУНКОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> фотопечать</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12700 РУБ./М2*
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/Kitchen-glass-splashbackmeadow-at-sunrise.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СКИНАЛИ С ФОТОПЕЧАТЬЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> фотопечать</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12700 РУБ./М2*
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/Kitchen-glass-splashback-Ice-Grey.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СКИНАЛИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> эмалит (покраска по RAL)</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : ЦЕНА: 8850 РУБ./М2*
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/980_120802130837.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СКИНАЛИ ЭМАЛИТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> эмалит (покраска по RAL)</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 8850 РУБ./М2*
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/skinali_11_65_1_izmoroz-720x540.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СКИНАЛИ С ФОТОПЕЧАТЬЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> фотопечать</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12700 РУБ./М2*
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/skinali-na-kuhnyu-5.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ ФАРТУК ДЛЯ КУХНИ С ФОТОПЕЧАТЬЮ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> фотопечать</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12700 РУБ./М2*
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/kitchen-black.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЙ ФАРТУК ДЛЯ КУХНИ ЭМАЛИТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> эмалит (покраска по RAL)</p>
                    <p><strong>Материал:</strong> Стекло 6мм</p>
                    <p><strong>Размеры:</strong> Возможны любые размеры</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> до 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 8850 РУБ./М2*
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align:center;"><a name="snoska"></a><strong>*В стоимость стекла включено: 4 отверстия
                (дополнительно 70 руб./отверстие), 2 выреза (дополнительно 400 руб./вырез), 4 крепления</strong></p>
        <h3><strong>ВОЗМОЖНЫЕ ВАРИАНТЫ СТЕКЛЯННЫХ ФАРТУКОВ-СКИНАЛИ ДЛЯ КУХНИ</strong></h3>
        <p style="text-align: justify;">Скинали производится из всех возможных типов стекла, которое мы выпускаем.
            Только АКМА сможет предложить вам такие варианты, как:</p>
        <ul>
            <li>- триплекс из сырого или каленого стекла (4х4 или 5х5 мм)</li>
            <li>- фотопечать на каленом стекле 8 мм</li>
            <li>- крашенное закаленное стекло 8 мм</li>
            <li>- прозрачное закаленное стекло 6 или 8 мм тощины</li>
            <li>- скинали с алмазной гравировкой;</li>
            <li>- с фотопечатью высокого разрешения на подложке;</li>
            <li>- фартуки со стеклянными вставками-фьюзингами;</li>
            <li>- фартук из стекла с рисунком из керамопечати;</li>
            <li>- стеклянные фартуки для кухни, изготовленные по вашему эскизу;</li>
        </ul>
        <h4><strong>Как скинали крепится (монтируется) к стене?</strong></h4>
        <p style="text-align: justify;">Есть два способа крепления изделий подобного рода: с помощью клея или зажимной
            фурнитуры. Обратите внимание на тот факт, что присоединение к стене с помощью клея возможно только в случае
            абсолютно ровной поверхности. Гораздо более надежным способом нивелировать мелкие неровности и идеально
            «посадить» стеклянную панель является способ с помощью креплений. Существует несколько видов фурнитуры для
            монтажа. Выбрать ее вы сможете в любом метизном магазине, где реализуется мебельная фурнитура или
            воспользоваться нашими стандартными вариантами, которые представляют из себя комплект из:</p>
        <ul>
            <li>- самореза с пластиковой втулкой и расширительным эффектом;</li>
            <li>- шайбы и декоративной крышки в цвете хром;</li>
        </ul>
        <p style="text-align: justify;"><strong>Рекомендация:</strong>&nbsp;<em>самым важным при проектировании является
                точность сделанного замера. Выезжающий на объект технолог Акмы снимет все размеры, а менеджеры
                предоставят вам проектный чертеж с отверстиями под розетки, крепления рейлингов и др. отверстия. Чтобы
                все было максимально точно, у вас должно быть полное представление о том, какой окончательный вид примет
                ваша кухня со всеми аксессуарами.</em></p>
        <h4><strong>Сроки изготовления скинали по вашим размерам</strong></h4>
        <p style="text-align: justify;">Так как скинали равно является индивидуальным изделием, то изготавливается оно
            исключительно на заказ. В Москве мы предлагаем вам вызвать профессионального технолога для снятия всех
            размеров и получения консультации и расчета. После согласования и подписания эскиза, ваш стеклянный фартук
            для кухни уйдет в производство. В зависимости от сложности его изготовления займет 2-4 недели с момента
            запуска в производство. По факту готовности заказа, мы присылаем к вам профессиональных монтажников с
            гарантией на выполненные работы.</p>
    </div>
</div>
{% endblock %}