{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
<div class="heading">
    <br><br>
    <h1 align="center">{{ heading }}</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/mayatnikovaya-steklyannaya-dver.jpg" class="img-fluid" alt="img"></a><br><br>
                <h3>Маятниковые стеклянные двери</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Маятниковые стеклянные двери – это
                    двери из стекла, которые могут открываться в разные стороны по принципу работающего маятника. Данные
                    конструкции особенно актуально в зонах высокой проходимости при высоком людском потоке. Для того,
                    чтобы маятниковая дверь могла выдержать сверхвысокие эксплуатационные нагрузки, традиционно её
                    изготавливают из сверхпрочных материалов: используют закаленное стекло и металлическую фурнитуру.
                </div>
                <a href="constructions/single_pendulum" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/steklyannaya_lestnica_akma.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>Стеклянные лестницы</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Стеклянные лестницы - необходимый
                    атрибут современного загородного дома, который строится в соответствии с современными тенденциями и
                    оснащен последними технологиями, в т.ч. технологиями "умный дом". Когда все подчинено разумной идее
                    эффективного использования ресурсов и возможностей, такой материал, как закаленное стекло становится
                    по-настоящему незаменимым и позволяет воплотить ваши самые смелые желания.</div>
                <a href="constructions/single_stairs" class="btn btn-primary">Перейти на страницу</a><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/skinali-dlya-kukhni_cat.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Скинали</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Скинали (или по-простому: стеклянный
                    фартук для кухни) – это недорогое, рациональное и свежее решение по кухонному интерьерному дизайну.
                    С помощью оригинального скинали вы можете настолько ярко и необычно выделить кухню, что любой ваш
                    гость не сможет не сказать вам пару приятных комплиментов и любом помещении вашего дома. Предлагаем
                    вам ознакомиться с каталогом скинали в интерьере, чтобы получить более полное представление о
                    возможностях кухонного дизайна.</div>
                <a href="constructions/single_aprons" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/peregovornie (1).jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>Переговорные из стекла для офиса</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Переговорные из стекла - атрибут
                    современного офиса премиального уровня. Стекольный завод Акма предлагает вам проектирование и
                    производство переговорных стеклянных зон повышенного качества. Наши стеклоизделия имеют отличные
                    оптические и механические свойства, все материалы проходят многократную проверку ОТК и санитарных
                    тестов; а замер, проектирование и монтаж осуществляется лучшими специалистами с многолетним опытом
                    работы.</div>
                <a href="constructions/single_office_rooms" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/steklyannii_kabinet1.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Стеклянные кабинеты</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Современный офис – визитная карточка
                    компании. Любой переговорный процесс напрямую зависит от того, как презентабельно выглядит рабочее
                    пространство вашей организации, и насколько комфортно работать в ней сотрудникам и руководителям.
                    Превратить обычный офис в стильный и современный вам поможет такое дизайнерское решение, как
                    стеклянные кабинеты для руководителей и персонала. Стоимость их не так высока, как может показаться
                    при первом приближении.</div>
                <a href="constructions/single_cabinets" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Стеклянные конструкции – это изделия высокой технической степени сложности,
            которые изготавливаются из сырого или каленного стекла согласно чертежным проектным размерам. Для того,
            чтобы стеклянная конструкция была надежна, безопасна и долговечна, необходимо рассчитать достаточно большое
            количество параметров: отдельный вес каждого стеклянного элемента, эксплуатационную совместимость фурнитуры
            и коннекторов, габаритность, возможности доставки на объект и последующего монтажа. Точность проектирования
            линейно зависит от срока службы изделия согласно его функциональности: прослужит оно 2-3 года или будет
            демонтировано вами по причине ненадобности по прошествии долгих лет службы.</p>
        <p style="text-align: justify;"><strong>Что считается и относится к стеклянным конструкциям? </strong></p>
        <p style="text-align: justify;">К традиционным стеклянным конструкциям относятся: витрины магазинов и торговых
            центров; входные группы из стекла; офисные перегородки в потолок; офисные перегородки формата open space;
            маятниковые стеклянные двери; моллированные (гнутые) изделия из стекла, стеклянные перила для лестниц или
            ограждения.</p>
        <h3 style="text-align: justify;"><strong>Изготовление стеклянных конструкций</strong></h3>
        <p style="text-align: justify;">Процесс изготовления стеклянных конструкций начинается с чертежей архитекторов и
            предварительного расчета. После того, как определяется тип стекла, его толщина и необходимая фурнитура,
            происходит распил, врезка и закаливание. После того, как стекло прошло процесс закалки, изменить габариты
            изделия уже невозможно. Именно по этой причине на всех этапах необходима точность и высокий профессионализм
            всех участников процесса.</p>
        <p style="text-align: justify;">Наше производство обладает новейшим высокоточным итальянским и американским
            оборудованием для изготовления стеклянных конструкций. Нашими реализованными объектами стали сотни торговых
            центров и бизнес парков, банков и автосалонов в Москве и Санкт-Петербурге, Краснодаре и Владивостоке,
            Екатеринбурге и Красноярске. География поставок и монтажа наших стеклоизделий распространяется на всю
            Россию. &nbsp;Посмотрите примеры реализованных объектов <a
                href="http://www.zavod-akma.ru/o-kompanii.html">ЗДЕСЬ</a>.&nbsp;Обратите внимание, что только наш завод
            способен обеспечить производство и монтаж самых сложных стеклянных конструкций. 25 лет постоянного роста и
            развития привели к тому, что сегодня завод Акма стал по-настоящему профессионалом номер 1 на рынке
            стекольной нестандартной продукции.</p>
        <h4 style="text-align: justify;"><strong>Как заказать стекло по своим размерам? </strong></h4>
        <p style="text-align: justify;">Если вам требуется заказать нестандартные стеклянные изделия, то для начала вы
            должны связаться с нашими менеджерами или консультантами для оценки возможности изготовления вашего
            нестандартного стеклоизделия. Если такое возможно, то спустя некоторое время вы получите предварительный
            расчет. Уверены, что вас устроят наши цены от производителя. После согласования стоимости заказ отправляется
            в работу, и, в зависимости от степени сложности и загрузки производства, изготавливается в срок от 3 недель
            до 3 месяцев, если не оговорено иное.</p>
        <p style="text-align: justify;">Рекомендуем вам ознакомиться с нашим каталогом стеклянных конструкций и получить
            консультацию наших специалистов в Москве или в другом городе России, где действует наш эксклюзивный
            официальный представитель.</p>
        <p style="text-align: justify;">Просим обратить ваше внимание на то, что вы можете разместить заказ на нашем
            производстве под свою фурнитуру. Для этого вам необходимо предоставить нам все чертежные размеры для
            сверления отверстий под крепления.</p>
    </div>
</div>
{% endblock %}