{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block body %}
<h1 align="center">{{ heading }}</h1>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Доставка стеклянных конструкций</h1>
                    <p>Для того, чтобы наши покупатели имели возможность получить свой товар оперативно и без задержек,
                        в нашей компании работают несколько грузовых машин. Если товар есть в наличии на московском
                        складе, то его доставка может быть осуществлена оперативно в сжатые сроки и удобное для вас
                        время.</p>
                    <p>Просим всех с пониманием относиться к проблеме задержек водителей из-за непредсказуемости
                        московских пробок. Мы делаем все возможное, чтобы все происходило так, как запланировано.</p>
                    <img src="/static/img/dostavka.jpg" width="1141" height="400" alt="image">
                    <h3>Самовывоз</h3>
                    <p>Вы можете забрать товар самовывозом с нашего склада по адресу: г. Москва, 1-й Котляковский пер.,
                        д. 3. Перед приездом обязательно согласуйте самовывоз с вашим менеджером.</p>
                    <h3>Цены на доставку</h3>
                    <p>Доставка внутри МКАД – 2 000 рублей</p>
                    <p>Доставка в пределах 10 км за МКАД – 2 500 рублей</p>
                    <p>Доставка более 10 км за МКАД – 2 000 рублей + 40 р./1 км за МКАД</p>
                    <p>*Доставка изделий нестандартных размеров обговаривается отдельно.</p>
                    <h3>Подъем на этаж</h3>
                    <p style="text-align: justify;">В цену доставки не могут входить услуги по подъему продукции в
                        квартиру, дом или офис заказчика. Если Вам необходимы данные услуги, просим Вас заранее
                        предупреждать Вашего менеджера о таковой необходимости. Ниже Вы увидите примерные расценки на
                        подъем стандартных изделий. Они не являются окончательными и могут быть изменены в зависимости
                        от дополнительных сложностей условий подъема стеклянных изделий на этаж.</p>
                    <p><strong>Внимание: </strong>изделия нестандартных размеров рассчитываются индивидуально в каждом
                        случае.</p>
                    <p><strong>Расценки на услуги по подъему стеклянных изделий стандартного размера</strong></p>
                    <table border="1" width="900" cellspacing="0" cellpadding="10">
                        <tbody>
                            <tr>
                                <td>
                                    <h3 style="text-align: center;"><strong>Размер стеклянного изделия</strong></h3>
                                </td>
                                <td>
                                    <h3 style="text-align: center;"><strong>Стоимость, руб.</strong></h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>До 900х2100 мм на лифте до двери</p>
                                </td>
                                <td>
                                    <p align="center">300</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>До 900х2100 мм за 1 пролет вручную</p>
                                </td>
                                <td>
                                    <p align="center">300</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>От 900х2100 до 1000х2300 мм на лифте до двери</p>
                                </td>
                                <td>
                                    <p align="center">500</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>От 900х2100 до 1000х2300 мм 1 пролет вручную</p>
                                </td>
                                <td>
                                    <p align="center">500</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>От 1000х2300 до 1200х2500 мм на лифте до двери</p>
                                </td>
                                <td>
                                    <p align="center">1000</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>От 1000х2300 до 1200х2500 мм 1 пролет вручную</p>
                                </td>
                                <td>
                                    <p align="center">1000</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Доставка в регионы</h3>
                    <p>Мы можем отправить ваш заказ в любой город России силами транспортной компании. Стоимость
                        доставки до терминала ТК в Москве - 2 000 руб. Стоимость услуг транспортной компании вы можете
                        уточнить в офисе компании, которая будет осуществлять доставку.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

</html>