{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
<div class="heading">
    <br><br>
    <h1 align="center">СТЕКЛЯННЫЕ ДВЕРИ</h1>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-light.html"><img src="static/img/Light-hit.jpg" alt="img"></a>
                    <a href="seriya-light.html"><br><br>
                        <h3>Стеклянные двери Light</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Просим обратить ваше
                        внимание на то, что простые стеклянные полотна имеют фиксированную стоимость за все
                        типоразмеры: 600/700/800/900х2000 мм. При этом в цену включено: врезка фурнитуры,
                        шлифовка всех отверстий, гарантия завода-производителя. Все стекла изготавливаются из
                        сверхпрочного и сверхчистого закаленного стекла 8 (восьми, а не шести) мм стекла.</div>
                    <a href="single_light.html" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/letters_cat.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Letters</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Коллекция Letters - это
                        коллекция межкомнатных дверей, которая в полной мере демонстрирует потенциальным
                        покупателям возможности технологии ШТП&nbsp; (шелкотрафартеной печати) на стеклянных
                        полотнах. Кроме предложенных в коллекции вариантов от наших дизайнеров, вы можете
                        заказать полностью индивидуальное изделие со своим собственным замыслом.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-fantazy.html"><img src="static/img/fantasy.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Fantasy</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Дверные полотна Fantasy
                        не только расширяют внутреннее пространство помещения, но и привносят свой колорит,
                        помогая создать неповторимый, стильный интерьер. Отличительная черта этой серии —
                        оригинальные сюжетные рисунки, которые наносятся на полотно методом лазерной гравировки.
                        Для изготовления используется 8 мм стекло с проверкой на самовзрываемость.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-satin.html"><img src="static/img/satin.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Satin</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">На дверях этой коллекции
                        декор выполнен печатью керамическими красками, которые при закаливании впекаются в
                        стекло, становясь единой плоскостью. Рисунок в дверях с рисунком Сатин устойчив к
                        неблагоприятным воздействиям: нагреву, влажности, солнечному свету и другим факторам.
                        Все полотна изготовлены из 8 мм каленого стекла с контролем на самозрываемость.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-florid.html"><img src="static/img/florid.jpg" alt=""></a>><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Florid</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Дверные полотна серии
                        Florid станут украшением любого интерьера. Особенностью данной серии является
                        декорирование дверного полотна цветными стеклянными элементами, выполненными по
                        технологии «фьюзинг» в комбинации с алмазной гравировкой. При производстве используется
                        8 мм стекло с проверкой на самовзрываемость. </div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-triplex/"><img src="static/img/triplex.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Triplex</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">
                        Представляем вниманию серию межкомнатных дверей Триплекс, которая представлена дверными
                        полотнами, состоящими из двух или более термоупрочнённых слоёв стекла, склеенных между
                        собой. Таким образом серия Triplex, это не обычный триплекс, а так называемый
                        термоупрочнённый триплекс, совмещающий в себе преимущества как классического метода
                        склеивания, так и дверей из закаленного стекла. </div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-illusion.html"><img src="static/img/cat_illusion.jpg" alt=""></a>
                    <a href="seriya-light.html"><br><br>
                        <h3>Стеклянные двери Illusion</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Серия дверей Illusion
                        (Иллюжн) – это коллекция полотен с различными абстрактными и геометрическими рисунками,
                        нанесенными на полотно методом гравировки.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-classic.html"><img src="static/img/classic.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Classic</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Дверные полотна этой
                        серии - это классические рисунки, нанесенные на полотно методом гравировки. Элегантные,
                        строгие двери серии CLASSIC подойдут для любого интерьера. При производстве коллекции
                        Классик, как и в др. коллекциях, используется 8 мм стекло с проверкой на
                        самовзрываемость. </div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a><br>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-flowers/"><img src="static/img/flowfers.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Цветы (Flowers)</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Дверные полотна украшены
                        изображениями цветов, они оживят Ваш интерьер и подарят отличное настроение. Отлично
                        впишутся в любой дизайн, в котором есть растительные орнаменты и стилистика.
                        Изготавливаются из надежного каленого стекла 8 мм толщины с обязательной проверкой на
                        самозрываемость. Срок изготовления - 1 месяц.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-imagination/"><img src="static/img/fotopechst.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери с фотопечатью</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Сделать интерьер
                        уникальным, не вставая с компьютерного кресла? Легко! Рассмотрите такой вариант, как
                        двери с фотопечатью от производителя Акма. Мы можем нанести абсолютно любой рисунок на
                        вашу межкомнатную дверь или перегородку. </div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="seriya-mirra/"><img src="static/img/cat_mirra.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери Mirra</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Модели
                        стеклянных полотен коллекции Mirra - изготовлены по новой технологии нанесения
                        пескоструйного декорирования. Красивые орнаментальные рисунки на поверхности защищены
                        специальным полимерным составом, который защищает рисунок от жировых пятен, пятен пота и
                        пыли. Коллекция насчитывает свыше 20 моделей, но этим не ограничивается.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-loft/"><img src="static/img/loftdoor41.jpg" alt=""></a><br>
                    <a href="seriya-light.html">
                        <br>
                        <h3>Стеклянные двери для Лофта</h3><br>
                    </a>
                    <div style="font-size:12px; min-height:120px; text-align:justify;">Лофт, как интерьерный
                        стиль, вошел в моду быстро и стремительно буквально в течении небольших двух лет.
                        Сегодня каждый второй интерьер создается именно в этом стиле, который максимально
                        удобен, как и жителю крупного индустриального города, так и в загородном коттедже.</div>
                    <a href="#" class="btn btn-primary">Перейти на страницу</a>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 col-sm-6">
                    <div class="goods-box">
                        <div class="g-img" style="text-align:center;">
                            <a href="seriya-art-decor/"><img src="static/img/art-dekor.jpg" alt=""></a>
                        </div>
                        <div class="g-desc" style="text-align:center;">
                            <a href="seriya-art-decor/">
                                <br>
                                <h3>Стеклянные двери Art-decor</h3><br>
                            </a>
                            <div style="font-size:12px; min-height:120px; text-align:justify;">Стеклянные полотна
                                коллекции ART DÉCOR – 100 % эксклюзив на российском рынке. Пока ничего подобного не
                                сделал ни один другой производитель стеклоизделий. Коллекция ART DECOR относится к
                                премиальному сегменту, и как настоящий продукт класса luxury имеет превосходные
                                характеристики, как по внешнему виду изделия, так и по составу стекла и декоративных
                                элементов, из которого она изготовлена.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: justify;">Неотъемлемой частью любого жилого помещения являются
                            межкомнатные двери. Они разделяют пространство, позволяют домочадцам уединиться и играют
                            эстетическую роль. Чтобы ваше жилье выглядело гармоничным, а сами конструкции достойно
                            выполняли свою предназначение, к их выбору стоит подойти с особой серьезностью. Стеклянные
                            двери межкомнатные – универсальный вариант, который прекрасно впишется в любой дом или
                            квартиру с любым стилевым решением.</p>
                        <h3>ЛЕГКОСТЬ И ПРОЧНОСТЬ</h3>
                        <p style="text-align: justify;">С чем ассоциируется стекло, так это с хрупкостью и
                            прозрачностью. И в некотором смысле стеклянные изделия являются таковыми. Они освобождают
                            пространство, делая интерьер не таким загруженным, наполняя его простором и легкостью.
                            Однако не стоит заблуждаться, считая стекло, применяемое для производства дверей, хрупким
                            материалом. По прочности оно превосходит пластик и дерево, поэтому его не так-то просто
                            повредить, поцарапать или каким-то другим образом испортить внешний вид. Но даже если
                            случится то, что вы разбили дверь, то осколки материала не будут иметь острых краев, о
                            которые можно пораниться.</p>
                        <p style="text-align: justify;">Вместе с тем, смотрятся стеклянные межкомнатные двери современно
                            и изящно. Они не столь громоздки, как деревянные. За ними легко ухаживать: достаточно просто
                            протереть их специальным средством. Служить такие конструкции будут довольно долго, несмотря
                            на кажущуюся хрупкость.</p>
                        <h3>8 ПРЕИМУЩЕСТВ ПРОДУКЦИИ ОТ СТЕКОЛЬНОГО ПРОИЗВОДИТЕЛЯ</h3>
                        <p style="text-align: justify;">
                            На это есть много весьма весомых причин и аргументов. Наша продукция для
                            оформления жилого и офисного пространства обладает следующими приоритетными преимуществами:
                        </p>
                        <ol>
                            <li>Экологичность - 100 % (в нашем материале не используется свинец и др. вредные вещества)
                            </li>
                            <li>Надежность - все двери из каленого стекла для использования в жилых помещениях проходят
                                жесткий контроль заводского ОТК, в том числе и на самовзрываемость;</li>
                            <li>Долговечность - срок эксплуатации не ограничен;</li>
                            <li>Простота в обслуживании - комфортная уборка и отсутствие необходимости установки
                                увлажнителей в зимний период (что необходимо для деревянных дверных конструкций).;</li>
                            <li>Хорошая освещенность комнат - светопропускаемость нашего стекла проверяется на
                                специальном оборудовании;</li>
                            <li>Легкость в интерьере - модный и стильный европейских дизайн;</li>
                            <li>Шумоизоляция, аналогичная межкомнатным дверям;</li>
                            <li>Изоляция запахов, что важно при использовании в кухонной и столовой зоне;</li>
                        </ol>
                        <p style="text-align: justify;">Купить стеклянные двери межкомнатные в Москве можно для любой
                            комнаты: ванной, детской, спальни, кухни, гостиной. Стекло – экологически чистый материал,
                            он гарантированно не приносит вреда здоровью. Вы можете выбрать образцы с прозрачным
                            стеклом, если хотите сохранить видимость соседней комнаты. Или же отдать предпочтение
                            матированным моделям. В любом случае они обеспечат хорошую звукоизоляцию, так что шум и
                            запах на кухне, общение по телефону или работающий телевизор не помещают остальным
                            домочадцам. Стекло проигрывает дереву в отношении теплоизоляционных свойств, однако не это
                            является основной целью межкомнатных дверей.</p>
                        <h4>Варианты</h4>
                        <p>Данные конструкции могут быть:</p>
                        <ul>
                            <li>распашными;</li>
                            <li>раздвижными.</li>
                            <li>маятниковыми.</li>
                            <li>межкомнатными.</li>
                        </ul>
                        <p style="text-align: justify;">Распашные подойдут для просторной квартиры или дома. Купить
                            стеклянные раздвижные межкомнатные двери
                            уместно также в том случае, если не хочется загромождать пространство. Они более компактны и
                            при открывании просто «уходят» за стену. Данное обстоятельно особенно актуально, когда речь
                            идет об узких коридорах и о сохранении пространства в проходной зоне квартиры.</p>
                        <p style="text-align: justify;">В нашем интернет-магазине вы можете найти много красивых
                            конструкций всех трех видов. Стоит отдельно упомянуть также разнообразие стекол: прозрачные,
                            матовые, витражные, цветные, с фотопечатью, триплекс. За консультацией и советом можно
                            обратиться к нашим специалистам. В любом случае ваша покупка станет «изюминкой» интерьера,
                            разграничит комнаты и при этом сохранит ощущение единого пространства.</p>
                        <p style="text-align: justify;">Ни одни производитель в нашей стране не может похвастаться таким
                            разнообразием коллекций, как мы. Это достигается не только за счет лучшего оборудования, но
                            и за счет постоянных дизайнерских разработок. Мы следим за тенденциями в развитии
                            интерьерной моды, реагируя на них выпуском новых коллекций с рисунками и без. Изучите наш
                            каталог, и вы сами сможете убедиться в том, насколько необычно и привлекательно может этот
                            простой материал вписаться в ваш дом, сделав его не только уютным, но и весьма
                            индивидуальным. Уверены, что если вы захотите купить дверные блоки из стекла от
                            производителя, будете довольны безупречным качеством и эксплуатационными характеристиками
                            долгие-долгие годы.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}