{% extends "base.html" %}
{% block title %}

{{ page_title }}

{% endblock %}

{% block body %}
<div class="container">
    <h1 align="center">{{ heading }}</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/1.jpg" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item">
                <img src="/static/img/2.jpg" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item">
                <img src="/static/img/3.jpg" class="d-block w-100" alt="image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <marquee
        style="color: #FF8C00; font-size: 40px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;">
        ВЫЕЗД ЗАМЕРЩИКА МОСКВА И МО
    </marquee>
    <br>
    <h2 align="center">Большой ассортимент. Можно на заказ. Продажа. Установка.</h2><br>
    <div class="heading">
        <h1 align="center">МЕЖКОМНАТНЫЕ СТЕКЛЯННЫЕ ДВЕРИ</h1>
    </div>

    <section class="regular slider">
        <div>
            <img src="/static/img/cat_illusion.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/fantasy.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/florid.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/flowfers.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/fotopechst.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/Light-hit.jpg" alt="img">
        </div>
    </section>

    <div class="heading">
        <h1 align="center">СТЕКЛЯННЫЕ ПЕРЕГОРОДКИ</h1>
    </div>
    <section class="regular slider">
        <div>
            <img src="/static/img/cat_ofisnie_peregorodki.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/cteklyannie-peregorodki-s-aliminievim-profilem.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/ofisnie-peregorodki.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/peregorodki-dlya-kvartiri.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/razdvijnie-steklyannie-peregorodki.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/zerkalnie-peregorodki.jpg" alt="img">
        </div>
    </section>
</div>
<div class="container">
    <div class="heading">
        <h1 align="center">СТЕКЛЯННЫЕ ДВЕРИ ДЛЯ САУНЫ
            И ДУШЕВЫЕ ОГРАЖДЕНИЯ</h1>
    </div>
    <section class="regular slider">
        <div>
            <img src="/static/img/3.1.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.2.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.3.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.4.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.5.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.6.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.7.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.8.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.9.jpg" alt="img">
        </div>
        <div>
            <img src="/static/img/3.10.jpg" alt="img">
        </div>
    </section>
</div>
<div class="container">
    <h4>БОЛЬШОЙ АССОРТИМЕНТ ПРОДУКТОВ</h4><br>
    <p>Изделия и конструкции из стекла изготавливаются типовые и по заказу, специального вида. Они бывают чисто
        декоративными или носят утилитарный характер.</p>
    <p>Организовать внутреннее пространство, разделить его на отдельные зоны помогают&nbsp;<strong>стеклянные
            перегородки</strong>. Их часто используют в офисах и жилых помещениях. Нередко они встречаются в торговых
        учреждениях, общественных местах. Разнообразие свойств материала дает возможность
        получить&nbsp;<strong>стеклянные конструкции на заказ</strong>&nbsp;с определенной функциональностью, обеспечить
        их эстетическую привлекательность.&nbsp;<strong>Установка стеклянных дверей и перегородок</strong> выполняется
        квалифицированными специалистами.</p>
    <p>Прочные и практичные &nbsp;<strong>стеклянные двери для сауны и бани</strong>&nbsp;выглядят солидно. Они
        пользуются высоким спросом у любителей попариться. Не менее удобны&nbsp;<strong>стеклянные душевые
            ограждения</strong>&nbsp;из прочного материала, не требующие большого ухода и очень гигиеничные.</p>
    <p>Красивые&nbsp;<strong>зеркала на заказ</strong>&nbsp;привлекательно выглядят, могут удивить разнообразием форм и
        отделки.&nbsp;<strong>Мебель из стекла</strong>&nbsp;редких видов с применением материала высшего качества
        используется в офисах и квартирах, придавая им современное звучание.</p>
</div>

{% endblock %}