{% extends "base.html" %}
{% block title %}


{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-12">
        <h1 align="center">УСТАНОВКА ДВЕРЕЙ И ПЕРЕГОРОДОК</h1>
        <h3 style="color: orange; text-align: center;"><strong>Прайс-лист на услуги по установке стеклянных дверей и
                перегородок</strong></h3>
        <p>Внимание: просим обратить ваше внимание на то, что все монтажные бригады прошли необходимую аттестацию в
            центре обучения завода.</p>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Монтаж стеклянной двери в деревянную коробку</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Монтаж зеркальной двери триплекс в деревянную коробку</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Монтаж стеклянной двери на маятниковых петлях</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Монтаж зеркальной двери триплекс на маятниковых петлях</td>
                    <td>3250</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Монтаж стеклянной двери-купе без отделки проема</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Монтаж зеркальной двери-купе триплекс без отделки проема</td>
                    <td>4200</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Монтаж стеклянной двери в алюминиевой коробке без наличника или с односторонним наличником</td>
                    <td>3250</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Монтаж зеркальной двери триплекс в алюминиевой коробке без наличника или с односторонним
                        наличником</td>
                    <td>3750</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Монтаж стеклянной двери в алюминиевой коробке с двухсторонним наличником</td>
                    <td>3450</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Монтаж зеркальной двери триплекс в алюминиевой коробке с двухсторонним наличником</td>
                    <td>3950</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Монтаж 1 трека под дверь-купе(до 2 метров, без установки закладного бруса) выезд на 1 единицу
                        *1,5</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Монтаж раздвижной стеклянной двери на раннее установленный трек + м.б. % наценка за высоту или
                        выезд на 1 единицу*1,5</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>Монтаж доборов (включая резку за комплект до 125 мм)</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>Монтаж доборов (включая резку за комплект от 125 до 200 мм)</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>Изготовление портала из доборов и наличников</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>16.</td>
                    <td>Установка ограничителя</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>Сборка и монтаж притворного бруса для двери-купе</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>Установка синхронизатора (для двери-купе) шт</td>
                    <td>1,500</td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>Резка (роспуск), установка отдельного наличника (шт.)</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>20.</td>
                    <td>Установка порога</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>21.</td>
                    <td>Установка верхнего доводчика</td>
                    <td>1,500</td>
                </tr>
                <tr>
                    <td>22.</td>
                    <td>Повторный, ложный выезд монтажника</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>23.</td>
                    <td>Минимальная стоимость работ при выезде монтажника</td>
                    <td>3900</td>
                </tr>
                <tr>
                    <td>24.</td>
                    <td>Монтаж 2-х створчатой двери (не распространяется на маятниковые)</td>
                    <td>Коэффициент 1,75</td>
                </tr>
                <tr>
                    <td>25.</td>
                    <td>Монтаж 1-ой двери включая двустворчатую</td>
                    <td>Коэффициент 1,5</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="105"><span style="color: #00000a;">Монтаж полотен
                            шириной более 900 мм до 1100 +10%,1100 мм до 1300 +20%, 1300 мм до 1500 +30%, более 1500
                            оценивается индивидуально.Высотой более 2000 - 2200мм + 10%, высотой 2200 -2400 мм + 20%,
                            высотой 2400 - 2600 мм + 30%, высотой 2600 - 2800 мм + 40%, высотой 2800 мм оценивается
                            индивидуально. Монтаж стеклянных изделий весом более 70 кг., или с размерами превышающими
                            описанные оценивается индивидуально.</span></td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="49"><span style="color: #00000a;">Монтаж включает:
                            установку двери в подготовленный проем, установку фурнитуры, установку наличников. Без учета
                            расходных материалов(400р на изделие).</span></td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: orange; text-align: center;">Прайс-лист на монтаж душевых ограждений</h3>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Монтаж распашной двери</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Монтаж раздвижной двери</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Монтаж глухого полотна</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Монтаж верхней трубы, за 1 м.</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Сверление в керамогранит (1-но отверстие)</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Монтаж нижнего порога</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Монтаж 1-ой двери</td>
                    <td>Коэффициент 1,5</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="99"><span style="color: #00000a;">Монтаж полотен
                            шириной более 900 мм до 1100 +10%,1100 мм до 1300 +20%, 1300 мм до 1500 +30%, более 1500
                            оценивается индивидуально. Высотой более 2000 - 2200мм + 10%, высотой 2200 -2400 мм + 20%,
                            высотой 2400 - 2600 мм + 30%, высотой 2600 - 2800 мм + 40%, высотой 2800 мм оценивается
                            индивидуально. Монтаж стеклянных изделий весом более 70 кг., или с размерами превышающими
                            стандартные оценивается индивидуально.</span></td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="21"><span style="color: #00000a;">Без учета
                            расходных материалов (400р на изделие).</span></td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: orange; text-align: center;">Прайс-лист на монтаж лестничных ограждений</h3>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Монтаж лестничного ограждения (высота видимой части до 1 м) без перильного профиля(крепление
                        точка) за 1 пог.метр.</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Монтаж балконного ограждения (высота видимой части до 1 м) без перильного профиля(крепление
                        точка) за 1 пог.метр.</td>
                    <td>3400</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Монтаж лестничного ограждения (высота видимой части до 1 м) без перильного профиля(опорный
                        профиль) за 1 пог.метр.</td>
                    <td>2900</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Монтаж балконного ограждения (высота видимой части до 1 м) без перильного профиля(опорный
                        профиль включен в стоимость) за 1 пог.метр.</td>
                    <td>2900</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Монтаж стеклянной лестничной площадки(пола), за 1 кв. метр.</td>
                    <td>5000</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Монтаж стеклянных ступеней на коннектора, за 1 крепление</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Монтаж перильного профиля, за 1 пог. Метр.</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Изготовление шаблона на лестничный марш(без учета материала)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Демонтаж стеклянный изделий</td>
                    <td>50% от монтажа</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Расходные материалы(крепление на химанкера), за 1 баллон</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Выезд на предварительный замер(за МКАД +35 руб/км)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Повторный выезд на объект(за МКАД +35 руб/км)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="60"><span style="color: #00000a;">Монтаж
                            лестничного ограждения включает: выезд на предмонтаж с изготовлением шаблонов(оплачивается
                            согласно прайсу) и установку креплений(входит в стоимость монтажных работ).</span></td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="40"><span style="color: #00000a;">Монтаж
                            стеклянных изделий весом более 70 кг., или с размерами превышающими стандартные оценивается
                            индивидуально.</span></td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="40"><span style="color: #00000a;">Расходные
                            материалы для изготовления шаблонов предоставлят или оплачивает заказчик.</span></td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: orange; text-align: center;">Прайс-лист на монтаж зеркал и скинали (фартук на кухню)</h3>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Монтаж скинали (кухонный фартук), за 1 кв.метр.</td>
                    <td>2100</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Установка 1 розетки</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Монтаж плинтуса пластикового, за 1 пог.м. до 100мм высота</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Монтаж зеркала на клей, за 1 кв. метр. (зеркальный клей привязать к метру квадратному балон
                        200р)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Монтаж зеркального панно на клей</td>
                    <td>2300</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Монтаж зеркала на клей, за 1 кв. метр (работы на высоте)</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Установка зеркального крепежа</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Минимальная стоимость работ при выезде монтажника</td>
                    <td>3900</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="21"><span style="color: #00000a;">Без учета
                            расходных материалов</span></td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: orange; text-align: center;">Прайс-лист на монтаж офисных перегородок и маятниковых дверей
        </h3>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Монтаж офисной стеклянной перегородки, за 1 кв. метр. На опорном профиле</td>
                    <td>1300 от 50м2</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Монтаж маятниковой двери, стандартной</td>
                    <td>2700</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Монтаж раздвижной двери, стандартной</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Монтаж напольного доводчика(линолеум, паркет, ламинат, плитка)</td>
                    <td>2,500</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Монтаж напольного доводчика (керамогранит, мрамор)</td>
                    <td>3500</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Монтаж 1-ой двери</td>
                    <td>Коэффициент 1,5</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="21">Без учета расходных материалов(400р на
                        изделие).</td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top" height="40">Монтаж стеклянных изделий весом более 70 кг.,
                        или с размерами превышающими 2800мм оценивается индивидуально.</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: orange; text-align: center;">Прайс-лист на выполнение дополнительных работ</h3>
        <table>
            <tbody>
                <tr>
                    <td width="2%">&nbsp;</td>
                    <td>Наименование работ</td>
                    <td width="12%">Стоимость, руб.</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Установка профиля (типа Т-40) для стеклянных конструкций за 1 погонный метр</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Прокладка проводов под наличником (1 проем)</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Подгонка плинтуса (1 точка)</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Резка коробки по толщине стены</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Сверление в керамогранит 1 отверстие</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>Уменьшение проема брусом (материал в стоимость не входит)</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>Расширение проема из кирпича и гипсокартона до 100мм., (одна сторона)</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>Расширение проема из пеноблоков до 100мм., (одна сторона)</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>9.</td>
                    <td>Подготовка проема под Z и L коробку, без учета материала.</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>Монтаж капителей или монтаж розеток и банкеток ( одна сторона )</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>Демонтаж старой деревянной коробки, двери</td>
                    <td>500</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>Демонтаж старой железной коробки, двери</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>Проведение работ с пылесосом (по предварительному заказу)</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>Вывоз мусора.</td>
                    <td>1500</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}