<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <strong><em><a class="nav-link" href="/">МИР ДВЕРЕЙ</a></em></strong>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/glass"><button type="button" class="btn btn-outline-primary"><em>Межкомнатные двери</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/peregorodki"><button type="button" class="btn btn-outline-primary"><em>Перегородки</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/sauna"><button type="button" class="btn btn-outline-primary"><em>Для сауны и бани</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="/showers"><button type="button" class="btn btn-outline-primary"><em>Душевые ограждения</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href=""><button type="button" class="btn btn-outline-primary"><em>Зеркала</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href=""><button type="button" class="btn btn-outline-primary"><em>Стеклянные конструкции</em></button></a>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="navbar-brand" href="/delivery"><button type="button" class="btn btn-outline-primary"><em>Доставка</em></button></a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="navbar-brand" href=""><button type="button" class="btn btn-outline-primary"><em> 8 (495) 132-02-55<br>
                info@zavod-akma.ru</em></button></a>
          </li>
        </ul>
    </div>
</nav>
