{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
<div class="heading">
    <br><br>
    <h1 align="center">{{ heading }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/cteklyannie-peregorodki.jpg" class="img-fluid" alt="img"></a><br><br>
                <h3>Перегородки с алюминиевым профилем</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Сегодня в Москве и других крупных
                    городах все больше приобретается квартир со свободным планированием площади. Чем больше таких
                    квартир, тем чаще возникает вопрос, как быстро, недорого и красиво зонировать межкомнатное
                    пространство. Для этой цели нами были разработаны алюминиевые перегородки со стеклом. Такие
                    конструкции помогают выделить функциональные части квартиры — например, создать отдельную
                    рабочую или гардеробную зону, изолировать детскую зону от гостиной..</div>
                <a href="peregorodki/single_aluminum" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/razdvijnie-steklyannie.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Раздвижные стеклянные перегородки</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Раздвижные перегородки и двери –
                    это современный способ зонирования межкомнатного и интерьерного пространства с помощью
                    возведения вертикальных перекрытий из травмобезопасного и дополнительно упрочненного закаленного
                    стекла. Учитывая тот факт, что нагрузки на подобные конструкции, из-за их, часто, больших
                    размеров, могут быть достаточно высокими, к раздвижным нестандартным перегородкам из стекла
                    предъявляются высокие технические и эксплуатационные требования.</div>
                <a href="peregorodki/single_razdvizhnyye" class="btn btn-primary">Перейти на страницу</a><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/peregorodki-dlya-kvartiri_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Стеклянные перегородки для квартиры</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Декоративные перегородки из
                    стекла в квартире – это самый современный и самый простой способ зонирования в квартире или в
                    квартире-студии. Завод Акма предлагает вам сотни декоративных решений по оформлению стеклянных
                    полотен в разных интерьерных стилях, начиная от модного лофта, заканчивая арт-деко и ампиром.
                </div>
                <a href="peregorodki/single_apartments" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/zerkalnie-peregorodki.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>Зеркальные перегородки</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Зеркальные перегородки – это
                    специальные интерьерные конструкции, которые изготавливаются на заказ согласно размерам проема,
                    основными функциями которых являются две опции: визуальное увеличение пространства жилого
                    помещение и его зонирование на две (иногда три) части.</div>
                <a href="peregorodki/single_mirror" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/ofisnie-peregorodki_0x345_135.jpg" class="img-fluid" alt=""></a>><br>
                <br>
                <h3>Умные перегородки (Смарт)</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Умные перегородки (смарт) из
                    стекла – конструкция из закаленного стекла триплекс, которая может в течении 1 секунды
                    переходить из прозрачного состояния в матовое. Изменение состояния обеспечивает сверхсовременная
                    пленка между двумя слоями стекла, которая при подаче электронапряжения, меняет свое
                    кристаллическое состояние, тем самым изменяя степень прозрачности изделия. Переключение
                    происходит с помощью обычного пульта дистанционного управления. </div>
                <a href="peregorodki/single_smart" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/cat_ofisnie_peregorodki_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Офисные перегородки</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">
                    Офисные перегородки – встраиваемые конструкции из прочного закаленного стекла 8 или 10 мм
                    толщины, которые способны выдержать высокие ежедневные эксплуатационные нагрузки без быстрой
                    потери презентабельного внешнего вида.

                    Они существенно увеличивают функционал помещения, и помогают более эффективно использовать
                    рабочее пространство любого офиса. </div>
                <a href="peregorodki/single_office" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3>Неоспоримые преимущества стеклянных перегородок Акма</h3>
    <p>В качестве сырья мы используем:</p>
    <ul>
        <li style="text-align: justify;">- 6/8/10 или 12 мм стекло высших марок от ведущих мировых компаний, таких как
            Pilkington, Saint Gobain, AGC, NSG Group, которое обрабатывается и закаливается на нашем предприятии.</li>
    </ul>
    <p><span style="text-decoration: underline;">Объем ежегодно обрабатываемого стекла на закаливание превышает 1 200
            000 м<sup>2</sup> в год.</span></p>
    <p>Любые размеры:</p>
    <ul>
        <li>- производим конструкции любых размеров, включая размер GIANT-SIZE – высотой до 3600 мм;</li>
    </ul>
    <p>Любой дизайн и виды гравировок</p>
    <ul>
        <li>- фотопечать двух и односторонняя; триплекс; алмазная гравировка и пескоструйная обработка; шелкография и
            керамопечать на закалённом стекле.</li>
    </ul>
    <p style="text-align: justify;">В 2016 году завод Акма выпустил рекордный объем декорированного стекла – 3 600 000
        м<sup>2</sup>, включая декорированное стекло, используемое в раздвижных перегородках для офисов и дома.</p>
    <p style="text-align: justify;">На нашем официальном сайте вы сможете заказать любые стеклянные перегородки из
        закаленного стекла с изготовлением «под ключ». Для этого мы сделаем все необходимые обмеры помещений, рассчитаем
        нагрузки полотен, выберем оптимальную фурнитуру, поможем вам определиться с выбором дизайна.</p>
    <p style="text-align: justify;">Готовы радикально изменить интерьер вашей квартиры или офиса? В нашем электронном
        каталоге вы найдете свыше 50 фотографий в интерьере, как можно удобно и недорого зонировать пространство в
        комнате и офисе с помощью перегородок из стекла. Ежемесячно наш каталог пополняется новыми решениями и новыми
        интерьерными фотографиями, которые создают наши дизайнеры.</p>
    <p style="text-align: justify;">Как завод-производителель, мы предлагаем вам наиболее выгодные и низкие тарифы на
        проектирование и производство изделия: наша цена за м<sup>2</sup> на сегодня является лучшей и, в среднем, по
        рынку дешевле на 10-15%.</p>
    <h3>Качество на самом высоком уровне</h3>
    <p style="text-align: justify;">Все изделия производства, в том числе и нестандартные, проходят жесткую
        проверку на качество проектирования, изготовления и безопасность. Именно по этим веским причинам нам доверяют
        крупнейшие компании нашей страны при задаче изготовления сложных технических проектов.</p>
    <p style="text-align: justify;">Перед тем, как готовое изделие будет готово к отправке к нашему конечному
        потребителю, мы проверяем все перегородки по таким параметрам и свойствам, как:</p>
    <ul>
        <li>- самовзрываемость стекла;</li>
        <li>- на оптическую чистоту;</li>
        <li>- на идеальность геометрии;</li>
        <li>- на кривизну искажения;</li>
        <li>- на устойчивость к весовым и ударным нагрузкам;</li>
        <li>- на соответствие параметрам заказа и размерности проекта;</li>
    </ul>
</div>
</div>
{% endblock %}