{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
<div class="heading">
    <br><br>
    <h1 align="center">{{ heading }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/Ajio_int_2.jpg" class="img-fluid" alt="img"></a><br><br>
                <h3>Двери серии Ajio</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Серия стеклянных дверей для бани AJIO
                    (АЖИО) – безусловная новинка 2017 года. Новая серия дверей. Модели этой серии имеют небольшие по
                    площади рисунки, нанесенные керамической запекаемой краской, что позволило значительно снизить
                    стоимость продукции при сохранении всех преимуществ серии Глассджет. Кроме того, двери этой серии,
                    пропускают много света в помещение сауны, визуально расширяя пространство.</div>
                <a href="sauna/single_ajio" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/Light_int.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Двери серии Light</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Серия стеклянных дверей для бани
                    LIGHT (Лайт) – это коллекция стеклянных полотен для сауны и парных, т.н. первой цены. В нее вошли
                    облегченные модели и она существенно отличается от весх остальных серий нашего производства.
                    Основным отличием является то, что используется стекло не 8, а 6 мм облегченной толщины. Из-за
                    другой толщины стекла изменения коснулись и других элементов.</div>
                <a href="sauna/single_sauna_light" class="btn btn-primary">Перейти на страницу</a><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/dveri-v-parnuju.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> Двери в парную из стекла</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Стеклянные двери в парную – это одно
                    или несколько стеклянных полотен, которые, соединяясь между собой, образуют входную группу. Если
                    группа состоит из нескольких полотен, они крепятся между собой специальными коннекторами.
                </div>
                <a href="sauna/single_steam" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/Glassjet_int.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>Двери для бани и сауны GlassJet</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Серия стеклянных дверей для сауны
                    «GLASSJET» (Глассджет) – это серия с монохромным рисунком на прозрачном бронзовом стекле. Технология
                    Глассджет позволяет наносить рисунок на стекло керамическими запекаемыми красками. Такой рисунок
                    обладает очень высокой стойкостью к механическим повреждениям. Он не царапается, не меняет свой цвет
                    под воздействием ультрафиолета, стоек к агрессивной среде (кислоты и щелочи).</div>
                <a href="sauna/single_glassjet" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/Glassjet_Cvet_int.jpg" class="img-fluid" alt=""></a>><br>
                <br>
                <h3>Двери для бани и сауны GlassJet цветные</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Серия стеклянных дверей для сауны
                    «GLASSJET» (Глассджет) цветные – это серия с полноцветным рисунком на прозрачном бронзовом стекле.
                    Технология Глассджет – это технология, позволяющая на специальном оборудовании окрасить стекло
                    керамическими запекаемыми красками. Рисунки данной серии отличает очень высокая стойкость к
                    механическим повреждениям, воздействию агрессивных сред и ультрафиолету (не царапаются, не
                    выцветают, можно мыть любыми моющими средствами). </div>
                <a href="sauna/single_glassjet_colored" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/Hamam_int.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>Серия Хамам</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">
                    Хамам – это турецкая баня, которая является наиболее прохладной и наиболее влажной из всех
                    существующих разновидностей. Именно по этой причине двери из стекла для этой серии выделены в особую
                    коллекцию, так как у нее есть некоторые существенные отличия от других серий саунных дверных блоков.
                </div>
                <a href="sauna/single_hamam" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Стеклянные двери для сауны и бани в последнее время стали весьма популярны по
            сравнению с дверьми из деревянных материалов, ведь при использовании стекла практически отсутствуют
            негативные стороны: со временем не портится внешний вид и не выделяется смола при нагревании.</p>
        <h3 style="text-align: justify;">Особенности и преимущества:</h3>
        <p style="text-align: justify;">Из плюсов стеклянных дверей для сауны (бани) можно выделить несколько основных:
        </p>
        <ul style="text-align: justify;">
            <li>Срок эксплуатации таких дверей практически не ограничен. Стоит очень сильно постараться, чтобы
                поцарапать или разбить дверь из термостойкого закаленного стекла. Даже если казус все-таки произойдет,
                то такое стекло никого не поранит – оно рассыпается на множество тупых безопасных осколков</li>
            <li>Такую дверь очень легко мыть, по сравнению, например, с деревянными дверьми. Все что вам понадобится –
                это средство для очистки стекол и сухая тряпочка.</li>
            <li>В стеклянной двери не может поселиться никой грибок или плесень. Она не меняет цвет и геометрии, не
                трескается со временем, а также не подвержена деформации в толщине от влаги.</li>
        </ul>
        <p style="text-align: justify;">Такие двери исполнены из жаропрочного высококачественного материала -
            закаленного стекла со специальной термической обработкой. Оно даст верную теплоизоляцию, сохраняя сухое
            тепло сауны и необходимую влагу от каменки русской бани. Эти свойства позволяют раскрыть полное удовольствие
            от принятия водных и парных релаксирующих процедур.</p>
        <p style="text-align: justify;">Такая система, помимо всего прочего имеет высокую герметичность. Это достигается
            благодаря использованию профильного порожка и иллюзорного уплотнителя. Дверь для парной в баню или сауну
            позволяет качественно удерживать жар и не пропускать его в соседнюю комнату.</p>
    </div>
</div>
{% endblock %}