{% extends "base.html" %}
{% block title %}

{% endblock %}

{% block body %}
<div class="heading">
    <br><br>
    <h1 align="center">{{ heading }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/90-cat_0x345_135.jpg" class="img-fluid" alt="img"></a><br><br>
                <h3>ДУШЕВЫЕ УГОЛКИ</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Душевой уголок – это простая и
                    удобная конструкция из стекла, которая позволяет принять душ, закрывая внешнее пространство ванной
                    от брызг и воды. Чаще всего его производят из безопасного закалённого 8 мм стекла, которое
                    монтируется на специальную прочную фурнитуру из металла. Но возможно усилить толщину и до 10 мм.
                </div>
                <a href="showers/single_corners" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/dush-steklyannii-cat_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> СТЕКЛЯННЫЕ ДУШЕВЫЕ ДВЕРИ В НИШУ</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Наше производство изготавливает по
                    вашим размерам и согласно вашим запросам стеклянные душевые двери в нишу. Размеры могут
                    варьироваться до см и достигать 3000 в высоту либо ширину. Мы изготавливаем любые стеклоизделия для
                    душевых зон из каленого 8 мм прочного стекла, стойкого к ударам и сверхвысоким механическим
                    нагрузкам..</div>
                <a href="showers/single_nishu" class="btn btn-primary">Перейти на страницу</a><br>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/uliana-v-nishu2_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3> СТЕКЛЯННЫЕ ДВЕРИ ДЛЯ ДУША</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Стеклянные двери для душевой – это
                    конструкция, которая изготавливается на заказ под готовые размеры вашего помещения и идеально
                    встраивается в ваше пространство. Готовые двери состоят из двух типов материала: закалённого стекла
                    8 или 10 мм толщины и фурнитуры, которую заказчик может выбрать по цвету, типу открывания.
                </div>
                <a href="showers/single_soul" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/180-1-cat_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>СТЕКЛЯННЫЕ ПЕРЕГОРОДКИ ДЛЯ ДУША</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Стационарные перегородки для душа из
                    стекла - это конструкция, которая проектируется по принципу "свободного входа" и не имеет двери,
                    которая может находиться в положении "закрыто".</div>
                <a href="showers/single_shower_partitions" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/tb_do90-razdvig_0x345_135.jpg" class="img-fluid" alt=""></a>><br>
                <br>
                <h3>РАЗДВИЖНЫЕ ДУШЕВЫЕ ПЕРЕГОРОДКИ ИЗ СТЕКЛА</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">Раздвижные душевые перегородки из
                    стекла - компактная и удобная конструкция, которая позволяет комфортно пользоваться душевой и
                    дополнительно имеет ряд преимуществ: она легко моется; имеет привлекательный внешний вид,
                    соответствует современным представлениям о дизайне 21 века. </div>
                <a href="showers/single_glass_partitions" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="static/img/storka-elvira-cat_0x345_135.jpg" class="img-fluid" alt=""></a><br>
                <br>
                <h3>CТЕКЛЯННЫЕ ШТОРКИ ДЛЯ ВАННОЙ</h3><br>
                </a>
                <div style="font-size:12px; min-height:120px; text-align:justify;">
                    Стеклянные шторки для ванной - это удобный и практичный способ оградить полы в ванной комнате от
                    попадания брызг во время приема водных процедур. Если вы делаете шторки из прозрачного стекла, вы
                    сохраняете в помещении объем и простор, так как, например, тканевые шторы, наоборот, сильно
                    уменьшают помещение.
                </div>
                <a href="showers/single_bathroom_blinds" class="btn btn-primary">Перейти на страницу</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Современные ванные комнаты сильно отличаются от тех, которые были в моде в
            прошлом. За счет того, что многие застройщики предлагают сегодня к продаже квартиры свободной планировки,
            сегодня есть широкие возможности сделать эти помещения более комфортными, красивыми и практичными. Так,
            значительно преобразить эту комнату помогут стеклянные душевые ограждения. Они смотрятся легко и изысканно,
            при этом гораздо практичнее пластиковых перегородок и традиционных ванн.</p>
        <h3>ОСОБЕННОСТИ И ПРЕИМУЩЕСТВА</h3>
        <p style="text-align: justify;">Подобные ограждения – вовсе не хрупкие, как может показаться на первый взгляд.
            Они изготовлены из закаленного стекла, прочность которого в 6 (шесть!) раз выше, чем обычного. Это сделано
            для того, чтобы уменьшить вероятность повреждения материала и получения травм. Даже если такое стекло
            повредится от сильнейшего удара, оно распадется на осколки с тупыми краями.</p>
        <p style="text-align: justify;">К тому же эти изделия поцарапать весьма непросто, опять-таки, в отличии от
            пластиковых. Такие створки долго сохраняют первоначальный привлекательный вид. А если перегородка
            подвергалась химической обработке по матированию, то на ней также не будут видны потеки и пятна от воды.
            Преимуществом стекла является также то, что это экологически чистый материал, не выделяющий вредных
            испарений при нагревании. Стекло для душевых ограждений своим видом и качеством выполнено так, чтобы водные
            процедуры приносили настоящее удовольствие.</p>
        <h3>ПРЕИМУЩЕСТВО ДУШЕВЫХ КАБИН ОТ ТРАДИЦИОННОЙ ВАННЫ</h3>
        <p>Душевые кабины из стекла – это целый комплекс преимуществ для тех, кто ценит время и деньги.</p>
        <p><em>Экономия средств на потреблении воды</em></p>
        <p style="text-align: justify;">При принятии душа тратится минимум в ДВА раза меньше воды. При стандартном
            потреблении – в ТРИ-ЧЕТЫРЕ раза. В среднем по году, если в квартире проживает около 4 человек, экономятся
            весьма крупные средства. Полное окупание затрат на установку душевой кабины из стекла происходит за 7-8 лет.
        </p>
        <p><em>Экономия времени</em></p>
        <p style="text-align: justify;">На заполнение традиционной ванны водой уходит не менее 10-12 минут. В ритме
            большого города, особенно с утра, драгоценные минуты лучше потратить на полноценный завтрак.</p>
        <p><em>Экономия пространства</em></p>
        <p style="text-align: justify;">При грамотном планировании пространства в ванной комнате, встроенные душевые
            ограждения позволяют существенно сэкономить драгоценные метры. Ведь вы не ограничены стандартными размерами
            акриловой или чугунной ванны. Вам на выбор любая форма душевой: угловая, трапециевидная, П-образная, с
            возможностью монтажа в нишу и арку.</p>
        <p><em>С поддоном и без поддона</em></p>
        <p style="text-align: justify;">В зависимости от ваших пожеланий, конструкции для душа из стекла могут быть
            встроены как непосредственно в пол, так и на поддон. Современные тенденции предполагают использование без
            поддона. Для этого необходимо заложить систему слива еще при черновой отделке квартиры.</p>
        <h3>ЗАКАЗАТЬ ПО СВОИМ РАЗМЕРАМ ПО ЦЕНЕ ПРОИЗВОДИТЕЛЯ</h3>
        <p style="text-align: justify;">Спрос на стеклянные перегородки для ванной комнаты и душа с каждым годом
            становится все выше, а возможностей все больше. Наш каталог предлагает вам несколько десятков готовых
            решений по цене производителя, но это не означает, что мы не работаем с индивидуальными размерами. Каждая
            стеклянная створка – уникальна и может быть изготовлена с точностью в 1 мм для идеального встраивания в
            пространство именно вашей ванной комнаты.</p>
        <p style="text-align: justify;">В Москве вы можете заказать душевые ограждения производства Акма «под ключ»:
            наши специалисты сделают предварительные расчеты, проведут замеры, встроят оптимальную фурнитуру,
            производство изготовит стеклянные закаленные полотна со сверловкой под фурнитуру и обработкой кромок, а
            профессиональные монтажники установят все на вашем объекте.</p>
        <p>Душевые ограждения В ИНТЕРЬЕРЕ ванной комнаты</p>
        <p style="text-align: justify;">Стекло – это настолько уникальный материал, что прекрасно смотрится в любом
            интерьере. Более того, кажется, что изделия из него делают помещение более просторным, воздушным, свободным.
            Они хорошо подходят особенно к нестандартным планировкам. Вы можете выбрать изделие обычной формы или
            сделать индивидуальный заказ из стекла с рисунком, прозрачным или матированным белым, серым, бронзовым.</p>
        <p style="text-align: justify;">В зависимости от вашего пожелания и особенностей ограждения в ванную могут
            располагаться:</p>
        <ul style="list-style-type: square;">
            <li>на полу;</li>
            <li>на кромке ванны;</li>
            <li>на поддоне;</li>
            <li>в простенке;</li>
            <li>с креплением к стене;</li>
            <li>с креплением к потолку.</li>
        </ul>
        <p style="text-align: justify;">Вы можете выбрать распашную или раздвижную конструкцию. Стекло в интерьере
            ванной – это открытость, минимализм и безупречная свобода.</p>
    </div>
</div>
{% endblock %}