{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/wave_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ВОЛНА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/sanset_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЗАКАТ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/full_Akma_Neboskrebi_fotopechat_0x325_dfa.jpg"
                            alt=""></a><br><br>
                    <div class="heading">
                        <h3>НЕБОСКРЕБЫ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/animal_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>БЕЛЫЙ ТИГР</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/gutar_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ГИТАРА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/nature_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ПРИРОДА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/sea_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>МОРЕ С ФОТОПЕЧАТЬЮ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/water world_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ВОДНЫЙ МИР</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Фотопечать (рисунок с одной стороны)</p>
                        <p><strong>Цвет:</strong> Прозрачный</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 19020 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p><strong>СТЕКЛЯННЫЕ ДВЕРИ С ФОТОПЕЧАТЬЮ - ПОЛЕТ ФАНТАЗИИ В ВАШЕМ ИНТЕРЬЕРЕ</strong></p>
        <p>Сделать интерьер уникальным, не вставая с компьютерного кресла? Легко! Мы можем нанести абсолютно
            любое изображение на вашу межкомнатную конструкцию или перегородку. При этом изделие сохранит свои
            превосходные потребительские свойства. На выбор покупателю также предлагается готовый фотобанк, где можно
            отобрать из 5000 фотографий что-то индивидуальное различной тематики.</p>
        <h3><strong>Серия дверей Фотопечать – метод изготовления</strong></h3>
        <p>Нанести узор на поверхность можно тремя&nbsp;способами:</p>
        <p>а) за счет наклеивания пленки, на которой напечатан рисунок, на стекло;</p>
        <p>б) окраской с помощью специального принтера (УФ-печать); &nbsp;</p>
        <p>в) методом впекания краски в стекло (керамопечать).</p>
        <p style="text-align: justify;">Самыми качественными являются техники б и в. Принт через пленку – технологии
            прошлого дня. Наше производство в совершенстве владеет обеими современными приемами и гарантирует высочайшее
            качество изготовления&nbsp;<strong>фотопечати на стекле</strong>. Для этого у нас имеется необходимое
            оборудование и возможности. Например, только нашим производством были изготовлены стеклянные архитектурные
            фасады для крупнейшего делового центра страны – Москва Сити.&nbsp; Все межкомнатные конструкции данной серии
            на сайте производятся по одной из вышеуказанных технологий, что обеспечивает высокое качество изображений и
            их четкость.</p>
    </div>
</div>
{% endblock %}