{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/maria_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>МАРИЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/full_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЛИНДА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 13125 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/emilia_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЭМИЛИЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/diana_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ДИАНА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 7875 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/izabella_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ИЗАБЕЛЛА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/ofelia_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ОФЕЛИЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/rebeka_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>РЕБЕККА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/sofia_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>СОФИЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 10500 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p><strong>Серия Illusion (Иллюжн)&nbsp;–&nbsp;</strong>полотна с абстрактными и геометрическими рисунками,
            нанесенными методом гравировки.</p>
        <p style="text-align: justify;">Модели с изысканным дизайном превосходно сочетают в себе функции разделения
            пространства и его художественного оформления. Для изготовления&nbsp;используется 8 мм стекло с проверкой
            ОТК на самовзрываемость и оптические свойства.&nbsp;</p>
        <h3>ВЫСОЧАЙШЕЕ КАЧЕСТВО КОЛЛЕКЦИИ ИЛЛЮЖН (ILLUSION)</h3>
        <p style="text-align: justify;">Знаете ли вы, что от того качества нанесения гравировки зависит игра светотеней?
            Во всех&nbsp;стеклянных дверях Акма с
            гравировкой&nbsp;имеются свои секреты производства.&nbsp;Для достижения «волшебного» эффекта контуры
            сделаны максимально чёткими. В отличие от других производителей, продукция нашего завода проходит тщательную
            полировку граней. Ещё один секрет Акмы – сырье, из которого изготовлен образец: используется премиум стекло
            с высочайшими оптическими свойствами, отсутствуют сколы и помутнения.
    </div>
</div>
{% endblock %}