{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/uzor_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>УЗОР</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/iris_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ИРИС</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/babochki_razlet_0x325_dfa.jpg"
                            alt=""></a><br><br>
                    <div class="heading">
                        <h3>БАБОЧКИ РАЗЛЁТ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/cveti_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЦВЕТЫ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/cveti_v_kruge_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЦВЕТЫ В КРУГЕ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/cveti_zavitki_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЦВЕТЫ-ЗАВИТКИ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/cvetochki_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ЦВЕТОЧКИ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/oboi_cveti_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ОБОИ ЦВЕТЫ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструйный трафаретный рисунок</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 30 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 9000 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3>Коллекция Мирра – красота и элегантность в каждой модели</h3>
        <p style="text-align: justify;">Когда мы впервые задумались над разработкой дизайна своей новой линии
            пескоструйных стеклянных конструкций, ставили задачу сделать что-то особенное и необходимое. Ответ пришел
            сам собой – это самые востребованные принты различных дизайнерских интерьерных стилей. Мы отобрали наиболее
            популярные рисунки в линиях обоев, керамической плитки и стеновых панелях, продублировали их в своих
            изделиях. В результате, сейчас каждый дизайнер и архитектор, а также простой покупатель, который тщательно
            подходит к вопросам внутреннего декорирования помещения, легко найдут для себя оптимальный вариант красивой
            стеклянной двери с пескоструйным рисунком в нашем каталоге.</p>
        <h4><strong>Преимущества пескоструйной обработки полотна – технология нанесения пленки DDR</strong></h4>
        <p style="text-align: justify;">Акма уже не одно десятилетие старается сохранить за собой лидерство и
            инновационность при производстве и обработке стекла. Не уступили мы этому принципу и здесь. Известно, что
            любое полотно несет на себе достаточно большую механическую и касательную нагрузку от рук. По этой причине,
            пескоструйные изображения никогда не пользовались спросом покупателей. На наши образцы наносится специальная
            высокотехнологичная полимерная пленка DDR (Dust&amp;Dirt Resistance), которая защищает поверхность от
            потожировых пятен.</p>
        <h3><strong>Технические характеристики полотен серии Мирра (Mirra)</strong></h3>
        <ul>
            <li>Вес полотен: 25-30 кг (в зависимости от размеров);</li>
            <li>Тип стекла: 8 мм закаленное стекло с проверкой на самоврываемость;</li>
            <li>Сторонность открывания: левая/правая по потребностям заказчика;</li>
            <li>Проверка качества по тестам на:</li>
            <li>- оптическую чистоту</li>
            <li>- на соответствие ГОСТ</li>
            <li>- на ударостойкость</li>
            <li>- на эластичность;</li>
            <li>Срок изготовления: 1 месяц по предзаказу;</li>
        </ul>
    </div>
</div>
{% endblock %}