{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/abstrakta_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>АБСТРАКТА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 30000 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika1_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 1</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika3_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 3</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika4_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 4</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 30000 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika5_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 5</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 37020 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika6_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 6</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 50730 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika7_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 7</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 57105 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/klassika8_0x325_dfa.jpg" alt=""></a><br><br>
                    <div class="heading">
                        <h3>КЛАССИКА 8</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Пескоструный рисунок (возможно исполнение 3D)</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 45 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: ПО ЗАПРОСУ руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>Чем отличается коллекция ART DÉCOR от остальных дверей?</strong></h3>
        <p style="text-align: justify;">Главным отличием является техника изготовления, которая совмещает в себе
            использование сразу трех типов декоративной обработки, состоит из нескольких трудоемких этапов. В том числе
            с использованием ручной работы:</p>
        <p>- изготовление цветных фъюзингов согласно чертежам и дизайнерскому ТЗ;</p>
        <p>- обработка сырого полотна пескоструйной 3-D технологией, когда рисунок на поверхности получаемся объемным;
        </p>
        <p>- закалка стекла и вклеивание фъюзингов (ручная работа).</p>
        <h4><strong>Как выглядит готовое дверь из стекла серии Арт Декор?</strong></h4>
        <p style="text-align: justify;">Те, кто видел дверь Арт Декор «вживую» от нее просто в восторге и отзываются о
            коллекции, как о самой изысканной в каталоге всех&nbsp;стеклянных дверей. Цена&nbsp;на эти образцы
            &nbsp;значительно выше, чем на остальную нашу продукцию, превышая среднюю стоимость в два-три раза в
            зависимости от выбранной линейки. Связано это, прежде всего, с колоссальной трудоемкостью производства
            полотен данной серии.</p>
        <h4><strong>В каком интерьере уместна данная коллекция?</strong></h4>
        <p style="text-align: justify;">Сегмент использования моделей Арт Декор достаточно узкий: стоит выбрать одну из
            предлагаемых нами позиций в том случае, если есть необходимость установить&nbsp;<strong>стеклянную дверь
            </strong>&nbsp;в помещение ЛЮКС уровня и внутренней отделки в традиционных стилях LUXURY – Арт-Деко,
            Арт-Нуво, Барокко, Рококо, Классика и, конечно, Ампир. Уверены, что для оформления интерьера в любом из
            вышеупомянутых стилей, вы найдете подходящую по дизайну стеклянную модель.</p>
    </div>
</div>
</div>
{% endblock %}
