{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="#"><img src="static/img/perron-mat.jpg" alt="img"></a><br><br>
                    <div class="heading">
                        <h3>ПЕРРОН БЕЛАЯ МАТОВАЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Керамопечать</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ</p>
                        <p><strong>Сроки:</strong> 25 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 15675 руб.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="kollekcziya-letters/"><img src="static/img/perron-2-matbc_0x325_dfa.jpg"
                            alt=""></a><br><br>
                    <div class="heading">
                        <h3>ПЕРРОН-2 БЕЛАЯ МАТОВАЯ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Керамопечать</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                        <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                        <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                        <p><strong>Коробка:</strong> от 4980 руб.</p>
                        <p><strong>Наличие:</strong> на заказ</p>
                        <p><strong>Сроки:</strong> 25 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена за стекло: 15675 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/perron-bronza_dfa.jpg" alt=""></a><br><br>
                        <div class="heading">
                            <h3>ПЕРРОН БРОНЗОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бронза (возможные цвета: Бесцветный, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 15675 руб.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/perron-2-bronza_0x325_dfa.jpg"
                                alt=""></a><br><br>
                        <div class="heading">
                            <h3>ПЕРРОН БРОНЗОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бронза (возможные цвета: Бесцветный, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 15675 руб.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/saksafonist-bronza_0x325_dfa.jpg"
                                alt=""></a><br><br>
                        <div class="heading">
                            <h3>САКСОФОНИСТ БРОНЗОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бронза (возможные цвета: Бесцветный, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 18675 руб.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/saksafonist-mat_0x325_dfa.jpg"
                                alt=""></a><br><br>
                        <div class="heading">
                            <h3>САКСОФОНИСТ БЕЛАЯ МАТОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 15675 руб.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/paris-mat-bc_0x325_dfa.jpg"
                                alt=""></a><br><br>
                        <div class="heading">
                            <h3>ПАРИЖ БЕЛАЯ МАТОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: бронза, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 15675 руб.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <a href="kollekcziya-letters/"><img src="static/img/mayak-bronza_0x325_dfa.jpg"
                                alt=""></a><br><br>
                        <div class="heading">
                            <h3>МАЯК БРОНЗОВАЯ</h3><br>
                        </div>
                        <div itemprop="description">
                            <p><strong>Рисунок:</strong> Керамопечать</p>
                            <p><strong>Цвет:</strong> Матовый бронза (возможные цвета: Бесцветный, Серый)</p>
                            <p><strong>Материал:</strong> Стекло</p>
                            <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                            <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                            <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                            <p><strong>Коробка:</strong> от 4980 руб.</p>
                            <p><strong>Наличие:</strong> на заказ</p>
                            <p><strong>Сроки:</strong> 25 дней</p>
                        </div>
                        <div class="alert alert-primary" role="alert">
                            Цена за стекло: 18675 руб.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><div class="container">
        <h3><strong>Коллекция </strong><strong>Letters</strong></h3>
        <p style="text-align: justify;">Коллекция Letters - это коллекция межкомнатных дверей, которая в полной мере
            демонстрирует потенциальным покупателям возможности технологии GlassJet (керамической печати) на стеклянных
            полотнах. Кроме предложенных в коллекции вариантов от наших дизайнеров, вы можете заказать полностью
            индивидуальное изделие со своим собственным замыслом.</p>
        <h3><strong>О коллекции </strong></h3>
        <p style="text-align: justify;">Представленная коллекция получила свое название Letters, так как за основу взяты
            слова из песен знаменитых на весь мир песенных хитов. У каждой модели своя сюжетная линия и свои тексты.
            Уверены, что среди предложенных вариантов вы точно найдете одну из своих любимых песен.</p>
        <h3><strong>Сроки изготовления</strong></h3>
        <p style="text-align: justify;">Стеклянные двери серии Letters - заказные. Срок изготовления составляет 3 недели
            с момента оформления договора на изготовление. В некоторых случаях, в связи с высокой загрузкой
            производства, сроки могут быть увеличены до 1 месяца.</p>
    </div>
</div>
{% endblock %}