{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/full_Akma_Arkada_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АРКАДА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> в наличии</p>
                    <p><strong>Сроки:</strong> 1 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 15750 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/sakura_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>САКУРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/krakle_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КРАКЛЕ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/aligator_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЛИГАТОР</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/gerda_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ГЕРДА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/graffiti_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ГРАФФИТИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/karolina_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КАРОЛИНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/hohloma_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ХОХЛОМА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать (запекаемая краска)</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> На заказ</p>
                    <p><strong>Сроки:</strong> 31 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 10575 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <p style="text-align: justify;">На образцах этой серии декор выполнен печатью керамическими красками, которые при
        закаливании впекаются в стекло, становясь единой плоскостью.</p>
    <p style="text-align: justify;">Рисунок в моделях Сатин устойчив к неблагоприятным воздействиям: нагреву, влажности,
        солнечному свету и другим факторам. Полотна изготовлены из 8 мм каленого стекла с контролем на самозрываемость.
    </p>
    <h3>Хиты продаж на рынке России</h3>
    <p style="text-align: justify;"><strong>Коллекция Satin</strong> – это линия&nbsp;стеклянных конструкций, которая
        стала настоящим хитом продаж на территории всей России.&nbsp;Модели Аркада, Граффити, Маттони и Герда – любая из
        них заняла особое место в сердцах покупателей от Москвы до Владивостока. Заметьте, что серия Сатин от
        производителя - настоящий эксклюзив. Пока ни один из аналогичных производителей не может повторить и
        выпустить полотна подобного уровня качества и дизайна. Рекомендуем выбирать и приобретать модели серии Сатин
        ТОЛЬКО у официальных партнеров нашего завода для того, чтобы избежать покупки недоброкачественной продукции, не
        изготовленной на нашем производстве, а всего лишь подделанной.</p>
    <p style="text-align: justify;">Обращаем внимание покупателей на тот факт, что все дизайны и рисунки данной линии
        могут быть использованы и при изготовлении&nbsp;раздвижных перегородок
        из стекла</a>. Например, в каталоге перегородок вы найдете модель Аркада, так полюбившуюся жителям нашей
        страны.</p>
</div>
{% endblock %}