{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/drakon_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДРАКОН</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/bashnya_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>БАШНЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full_Akma_Tower_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТАУЭР</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/delfin_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДЕЛЬФИН</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/gorod_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ГОРОД</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/kapitel_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>КАПИТЕЛЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/more_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>МОРЕ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/noch_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>НОЧЬ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600/700/800х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ</p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <p style="text-align: justify;">Конструкции серии Fantasy не только расширяют внутреннее пространство помещения, но
        и привносят свой колорит, помогая создать неповторимый, стильный интерьер.</p>
    <p style="text-align: justify;">Отличительная черта этой серии — оригинальные сюжетные изображения, которые
        наносятся на полотно методом лазерной гравировки. Для изготовления используется 8 мм стекло с проверкой на
        самовзрываемость.</p>
    <h3>Рейтинг моделей коллекции Фэнтези Fantasy</h3>
    <p>Фэнтези – одна из старейших коллекций стеклянных дверей от производителя. Абсолютно все образцы пользуются
        особой любовью у российского покупателя.</p>
    <p><strong>Рейтинг</strong></p>
    <p style="text-align: justify;">Место - 1: Например, модель номер 1 – Ночь, которую покупатели называют по-своему
        «<strong>стеклянная дверь с котом</strong>».</p>
    <p style="text-align: justify;">Место - 2: Город, ее сюжет часто используют не только при заказе самого полотна, но
        изготавливают и подобную&nbsp;стеклянную перегородку, развернув
        рисунок.</p>
    <p style="text-align: justify;">Место - 3: Башня, где на основной поверхности выгравирована Эйфелева Башня.
        Поклонники французского стиля поймут, почему она пользуется спросом – дверь романтична и элегантна.</p>
    <p style="text-align: justify;">Не менее востребованы Дельфин и Море, их часто устанавливают в ванную и туалет.
        Например, это очень нравится маленьким детям, которые с удовольствием начинают принимать водные процедуры в
        таком помещении.</p>
    <h3>Как наносится рисунок?</h3>
    <p style="text-align: justify;">Как и в двух других коллекциях, Florid, Flowers,
        изображение&nbsp;наносится методом алмазной гравировки. В месте нанесения стекло становится прозрачным и во
        время попадания лучей солнца или электрического света, начинает «играть», преломляя лучи. Важно: рисунок НЕ
        пачкается и легко отмывается.</p>
</div>
{% endblock %}