{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/alegra_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЕГРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 9000 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/milena_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>МИЛЕНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 9375 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full_1_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПЕНЕЛОПА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 12195 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/aligator_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АМЕЛИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 12195 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/madlen_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>МАДЛЕН</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 12195 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/patricia_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ПАТРИЦИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 12195 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/gloria_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ГЛОРИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 14070 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/kristina_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КРИСТИНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинг</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Двери Florid станут украшением любого интерьера. Особенностью данной серии
            является декорирование дверного полотна цветными стеклянными элементами, выполненными по технологии
            «фьюзинг» в комбинации с алмазной гравировкой. При производстве используется&nbsp;8 мм стекло с проверкой на
            самовзрываемость.&nbsp;</p>
        <h3>Самые популярные модели</h3>
        <p style="text-align: justify;">Флорид – коллекция с цветными фьюзингами. Подбирая модель по цвету, обращайте
            внимание на цвет фьюзинга: смотрите, как он будет сочетаться с другими отделочными материалами в вашем доме.
            Приводим список самых популярных образцов данной линейки, чтобы вы лучше ориентировались. Наибольшим спросом
            пользуются: Елена, Наталия и Италия. Остальные изделия с геометрическими рисунками чаще всего заказывают для
            санузловых помещений. Аналогичная коллекция с цветными стеклянными вставками представлена в каталоге
            стеклянных дверей для бани и сауны, она так и называется «Серия с
            фьюзингом».</p>
        <p style="text-align: justify;">Важно: обратите внимание на тот факт, что в подборке Флорид все полотна имеют
            рисунок только с 1 стороны. При заказе таких моделей в обязательном порядке нужно знать сторонность
            открывания (левое либо правое). Рекомендуем воспользоваться услугами профессиональных мастеров-замерщиков
            перед размещением заказа, чтобы исключить какие-либо ошибки.</p>
    </div>
</div>
{% endblock %}