{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/loftdoor32_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛОФТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/loftdoor110_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛОФТ БРОНЗОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бронза (возможные цвета: Бесцветный, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft3_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 70019 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft5_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 5</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 45622 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft6_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 6</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 46778 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft7_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 7</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 49164 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft9_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 9</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 48928 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/Loft11_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>LOFT 11</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Бесцветный </p>
                    <p><strong>Материал:</strong> Стекло, алюминий</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 16 мм (стекло 6 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;в комплекте.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 66999 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>СТЕКЛЯННЫЕ ДВЕРИ ДЛЯ ЛОФТА</strong></h3>
        <p style="text-align: justify;">Лофт, как интерьерный стиль, вошел в моду быстро и стремительно буквально в
            течение небольших двух лет. Сегодня каждый второй интерьер создается именно в этом дизайне. Он максимально
            удобен и жителю крупного индустриального города, и загородного коттеджа.</p>
        <p style="text-align: justify;">Это направление предполагает активное использование стекла в виде интерьерных
            панно, лестниц с прозрачными перилами, перегородок и, конечно, межкомнатных конструкций.&nbsp;<strong>Для
                лофта двери из стекла</strong>&nbsp;является одним из наиболее выгодных и привлекательных вариантов
            из-за нескольких преимуществ:</p>
        <ul>
            <li style="text-align: justify;">- абсолютно плоские полотна не "съедают" пространства, а, наоборот,
                расширяют его;</li>
            <li style="text-align: justify;">- кирпичная гравировка на полотне дополняет и усиливает впечатление
                необычного дизайна;</li>
            <li style="text-align: justify;">- вариации материала из трех цветов (белого, серого и бронзового)&nbsp;
                позволяет комбинировать полотна с наиболее актуальными цветами кирпичного клинкера;</li>
            <li style="text-align: justify;">- при необходимости полной непрозрачности (например, для дверей в ванную и
                туалет), дизайнер или покупатель всегда может использовать модели серии "Лайт", которые не имеют
                какого-либо рисунка.</li>
            <li style="text-align: justify;">- имитацию кирпича можно повторить при создании перегородок, цены на
                которые вы сможете посмотреть в отдельном каталоге.</li>
        </ul>
        <p style="text-align: justify;">Уверены в том, что коллекция межкомнатных дверей лофт понравится настолько, что
            вы непременно захотите использовать ее при оформлении квартиры или дома.</p>
    </div>
</div>
{% endblock %}