{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full__0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КОНСТАНЦИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full___0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КЛЕОПАТРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ksenia1_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КСЕНИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full____0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КИРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/full_______________2_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КАРЕЛИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/klara_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КЛАРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/karina_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КАРИНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/full____3_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>КАЛИСА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">Продукция этой серии - классические рисунки, нанесенные на полотно методом
            гравировки. Элегантные, строгие двери серии CLASSIC подойдут для любого интерьера. При производстве образцов
            Классик, как и в других коллекциях, используется&nbsp;8 мм стекло с проверкой на самовзрываемость.&nbsp;</p>
        <h3>Классические модели дверей из 100 % стекла? Это реально!</h3>
        <p style="text-align: justify;">Казалось бы, как можно сделать респектабельным простое и абсолютно плоское
            дверное полотно? Дизайнерами нашего завода данный вопрос был решен с помощью нанесения классических
            изображений методом алмазной гравировки. Рисунок полностью повторяет очертания и формы
            филенок&nbsp;классических межкомнатных
            дверей.</p>
        <p style="text-align: justify;">Например, модель Кира имеет гравировку ввиде трехфиленчатого полотна и станет
            отличным дополнением традиционной серии межкомнатных конструкций, установленных в доме или квартире. Кира –
            безусловный лидер продаж в сегменте&nbsp;<strong>классические стеклянные двери</strong>. Не меньшим спросом
            пользуются образцы с прямыми вертикальными линиями: визуально они вытягивают стену, делая ее выше и
            элегантнее. Рекомендуем обратить внимание на позиции Калиса, Ксения и Катерина.</p>
        <p style="text-align: justify;">Если вам нравится стекло, как сам материал, мы можем предложить использование
            мотивов классической линейки уже в другом продукте – аналогичный рисунок мы можем повторить при
            производстве&nbsp;стеклянных перегородок раздвижного типа.
            Цены&nbsp;на данные изделия от нашего производства считаются одними из самых выгодных в России.</p>
    </div>
</div>
{% endblock %}