{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lilia_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛИЛИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lizantus_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛИЗАНТУС</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/allium_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АЛЛИУМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 33750 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/lotos_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛОТОС</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 11625 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/orhidea_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ОРХИДЕЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/magnolia_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>МАГНОЛИЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/amarilis_0x325_dfa.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>АМАРИЛЛИС</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 30 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: ПО ЗАПРОСУ руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3>МЕЖКОМНАТНЫЕ СТЕКЛЯННЫЕ ДВЕРИ СЕРИИ ЦВЕТЫ (FLOWERS)</h3>
        <p style="text-align: justify;">Серия Flowers украшена такими же изображениями, которые оживят Ваш интерьер и
            подарят хорошее настроение. Отлично впишутся в любой дизайн с растительными орнаментами и подобной
            стилистикой. Производятся из надежного каленого стекла 8 мм толщины с обязательной проверкой на
            самозрываемость. Срок изготовления - 1 месяц.</p>
        <h3>Цены и размеры стеклянных дверей с рисунком Цветы</h3>
        <p style="text-align: justify;">Все полотна выполняются в стандартных типоразмерах и имеют единую цену на
            параметры 600/700/800*2000. При изменении чисел в меньшую и большую сторону, стоимость меняется в
            направлении увеличения, так как товар становится нестандартным.</p>
    </div>
</div>
{% endblock %}