{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/olivetripleks_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС ОЛИВКОВЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/greytripleks_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС СЕРЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/full_Akma_Emalit_black_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС ЧЁРНЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/white_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС БЕЛЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/orange_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС ОРАНЖЕВЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/full_Akma_Emalit_red_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС КРАСНЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/browntripleks_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС КОРИЧНЕВЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/bluetripleks_0x325_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ТРИПЛЕКС СИНИЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Покраска с двух сторон</p>
                    <p><strong>Цвет:</strong> Оливковый (возможен любой цвет по RAL)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 4+4 мм (многослойное стекло)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 45 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 13125 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>СТЕКЛЯННЫЕ ДВЕРИ ТРИПЛЕКС</strong></h3>
        <p style="text-align: justify;">Стеклянные двери триплекс – межкомнатные конструкции, изготовленные композитным
            методом. Они состоят из 3 слоев: 4 или 5 мм закаленное стекло + адгезивная подложка + повтор исходного слоя.
            Принцип производства получил свое название от английского слова triple (тройной, утроенный) и уже более 30
            лет активно используется всеми производителями для реализации новых интерьерных и функциональных решений.
        </p>
        <h4 style="text-align: justify;"><strong>Двери по усовершенствованной технология триплексования от завода
                Акма</strong></h4>
        <p style="text-align: justify;">Ведущий производитель предлагает вашему вниманию линейку межкомнатных
            конструкций Триплекс. Она представлена &nbsp;полотнами, состоящими из двух или
            более&nbsp;<strong>термоупрочнённых</strong>&nbsp;слоёв, склеенных между собой. Triplex, это не
            обычный, а термоупрочнённый материал, совмещающий в себе преимущества классического метода склеивания и
            закаленного стекла. Такой способ изготовления не только повышает безопасность при эксплуатации, но и
            расширяет возможности дизайна.</p>
        <h4><strong>Завод производит лучшее триплекс стекло в России</strong></h4>
        <p>В чем существенные отличия нашего товара от аналогов, представленных в России? Ответ простой. Распространены
            три технологии производства:</p>
        <ul>
            <li><strong>Сырой</strong>:</li>
        </ul>
        <p>Выполняется переклеивание двух полотен между собой. Самый дешевый, но и травмоопасный вариант. Недостатки:
            легко разбить, требует бережного обращения, может распадаться на острые куски, способные поранить человека.
        </p>
        <ul>
            <li><strong>Закаленный</strong>:</li>
        </ul>
        <p>Аналогичен первому, но между собой склеиваются поверхности, прошедшие предварительную закалку. Недостатки
            исключительно внешние: торец изделия имеет V-образную фаску, что смотрится неопрятно.</p>
        <ul>
            <li><strong>Термоупрочненный</strong>:</li>
        </ul>
        <p>Переклеивается сырое стекло, обрабатываются кромки (удаляется V-образная фаска), законченное изделие
            закаливается. Недостатки: отсутствуют. В серии Триплекс используется именно данная технология
            триплексования, которая и делает модели лучшими по качеству в России.</p>
    </div>
    {% endblock %}