{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/full_Akma_Light.jpg" alt="img"></a><br><br>
                <div class="heading">
                    <h3>ЛАЙТ БЕЛАЯ МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Нет</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный&nbsp;(возможные цвета: Бронза, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> в наличии</p>
                    <p><strong>Сроки:</strong> 1 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 5625 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"><img src="../static/img/bronze_dfa.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ЛАЙТ БРОНЗОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Нет</p>
                    <p><strong>Цвет:</strong> Матовая бронза (возможные цвета: Бесцветный, Серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                    <p><strong>Коробка:</strong> от 4980 руб.</p>
                    <p><strong>Наличие:</strong> в наличии</p>
                    <p><strong>Сроки:</strong> 1 день</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена за стекло: 8625 руб.
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card-body">
            <a href="#"><img src="../static/img/grey_dfa.jpg" alt=""></a><br><br>
            <div class="heading">
                <h3>ЛАЙТ СЕРАЯ</h3><br>
            </div>
            <div itemprop="description">
                <p><strong>Рисунок:</strong> Нет</p>
                <p><strong>Цвет:</strong> Матовый серый (возможные цвета: Бесцветный, Бронза)</p>
                <p><strong>Материал:</strong> Стекло</p>
                <p><strong>Размеры:</strong> 600х2000 (возможен любой размер)</p>
                <p><strong>Толщина:</strong> 8 мм </p>
                <p><strong>Фурнитура:</strong>&nbsp;Комплект от 13830 руб.</p>
                <p><strong>Коробка:</strong> от 4980 руб.</p>
                <p><strong>Наличие:</strong> в наличии</p>
                <p><strong>Сроки:</strong> 1 день</p>
            </div>
            <div class="alert alert-primary" role="alert">
                Цена за стекло: 8625 руб.
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h3><strong>Самые низкие цены на простые стеклянные двери в Москве</strong></h3>
    <p style="text-align: justify;">Просим обратить ваше внимание на то, что обычные полотна имеют фиксированную
        стоимость за все типоразмеры: 600/700/800/900х2000 мм. При этом в цену включено: врезка фурнитуры, шлифовка
        отверстий, гарантия завода-производителя. Образцы изготавливаются из сверхпрочного и сверхчистого закаленного
        материала 8 (восьми, а не шести) миллиметровой толщины. Отдельно рассчитывается:</p>
    <p>- фурнитура (петли, замок с ручками);</p>
    <p>- погонаж (коробка/наличники/доборы)</p>
</div>

{% endblock %}