{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/180-4-pr_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ В НИШУ ДО 180-4 ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 7 460 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 10 374 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 17834 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannii-dush-bronza-180pr1_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДВЕРЬ ДЛЯ ДУША В НИШУ ДО-180-1 БРОНЗОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 7 460 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 7 974 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 15434 руб.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/sabina-v-nishu_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЕ ДВЕРИ В НИШУ САБИНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1200*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 19 609 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong>  15 012 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 34621 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/avrora-v-nishu_0x350_c7c (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННЫЕ ДВЕРИ В НИШУ АВРОРА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1200*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 16 092 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 732 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 27824 руб.
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card-body">
                    <img src="../static/img/dushevaja-dver-more1_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ДУШЕВАЯ ДВЕРЬ МОРЕ</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong> Матовый бесцветный (возможно серый, бронза)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 1400*2000 мм</p>
                        <p><strong>Толщина:</strong> 8 мм </p>
                        <p><strong>Стоимость стекла:</strong> 21 045 руб..</p>
                        <p><strong>Стоимость фурнитуры:</strong> 11 732 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 25 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена : 32761 руб.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <img src="../static/img/do180-2_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                    <div class="heading">
                        <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ В НИШУ ДО 180-2</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> нет</p>
                        <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 800*2000 мм</p>
                        <p><strong>Толщина:</strong> 8 мм </p>
                        <p><strong>Стоимость стекла:</strong> 5 028 руб..</p>
                        <p><strong>Стоимость фурнитуры:</strong> 3 896 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 20 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена : 8921 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card-body">
                    <img src="../static/img/dushevaja-dver-kleopatra_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ДУШЕВАЯ ДВЕРЬ КЛЕОПАТРА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong>Матовый бесцветный (возможно серый, бронза)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 1400*2000 мм</p>
                        <p><strong>Толщина:</strong> 8 мм </p>
                        <p><strong>Стоимость стекла:</strong> 22 265 руб..</p>
                        <p><strong>Стоимость фурнитуры:</strong> 11 716 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 25 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена : 33981 руб.
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-body">
                    <a href="#"></a><img src="../static/img/dushevaja-dver-uliana_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                    <div class="heading">
                        <h3>ДУШЕВАЯ ДВЕРЬ ЮЛИАНА</h3><br>
                    </div>
                    <div itemprop="description">
                        <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                        <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно серый, бронза)</p>
                        <p><strong>Материал:</strong> Стекло</p>
                        <p><strong>Размеры:</strong> 1400*2000 мм</p>
                        <p><strong>Толщина:</strong> 8 мм </p>
                        <p><strong>Стоимость стекла:</strong> 17 110 руб..</p>
                        <p><strong>Стоимость фурнитуры:</strong> 11 716 руб.</p>
                        <p><strong>Наличие:</strong> на заказ </p>
                        <p><strong>Сроки:</strong> 25 дней</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        Цена : 28826 руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="col-md-12">
            <p style="text-align: justify;">Предлагаемые нами стеклянные душевые двери для ниши могут быть изготовлены
                из нескольких видов стекла:</p>
            <p style="text-align: justify;">- бесцветное прозрачное;</p>
            <p style="text-align: justify;">- белое, серое и бронзовое матовое;</p>
            <p style="text-align: justify;">- из особо прочного стекла ТРИПЛЕКС;</p>
            <p style="text-align: justify;">- с художественным рисунком, выполненным на высокоточном оборудовании;</p>
            <p style="text-align: justify;">- с керамопечатью;</p>
            <p style="text-align: justify;">- с фотопечатью;</p>
            <p style="text-align: justify;">Мы действительно можем сделать из стекла практически любое изделие. Вам
                остается лишь предоставить нам размеры для предварительного расчета и озвучивания цены. Предварительная
                смета подготавливается менеджерами в течении 15-20 минут после поступления размеров к нам на почту.
                Окончательный счет на оплату и запуск изделия в работу на производство происходит после проведенного
                контрольного замера.</p>
        </div>
    </div>
</div>
{% endblock %}