{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/meandr-bc_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ МЕАНДР БЕСЦВЕТНЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 8 454 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 13 126 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 21580 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaja-dver-cvetkizavitki_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ ЦВЕТКИ-ЗАВИТКИ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Художественное матирование</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 18 059 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 12 154 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30213 руб.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaja-dver-elena_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ ЕЛЕНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка, фьюзинги</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 19 609 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 13 831 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 33805 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaja-dver-meandr-prozrachnii_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДВЕРЬ МЕАНДР БРОНЗОВЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачная бронза (возможно: бесцветный; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 11 201 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 13 126 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 24327 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevie_dveri_gracia_prozrachnaya_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ КАБИНА ГРАЦИЯ 90Х90 ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 18 086 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 12 541 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 31347 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevie-dveri-avrora-matovoe-steklo_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ АВРОРА МАТОВОЕ СТЕКЛО</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1600*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 21 477 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 9 288 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30765 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevie-dveri-avrora-matovoe-steklo_0x350_c7c (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ ДВЕРЬ АВРОРА МАТОВОЕ СТЕКЛО</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong>Матовый бесцветный (возможно серый, бронза)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1600*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 21 477 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 9 288 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 25 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30765 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/dushevie_dveri_gracia_prozrachnaya_0x350_c7c (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ДУШЕВАЯ КАБИНА ГРАЦИЯ 90Х90 ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно серый, бронза)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 18 086 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 12 541 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 31347 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">На нашем сайте можно оформить заказ на любую стандартную или нестандартную дверь
            для душевой кабины по низким ценам от производителя. Срок изготовления «под ключ» с монтажом на объекте
            зависит от сложности, но чаще всего не превышает 1-1.5 месяцев. Завод находится в г. Санкт-Петербурге, имеет
            представительство в Москве, и известен на российском рынке, как производство, выпускающее лучшую стекольную
            продукцию. Мы производим нестандартную продукцию как для розничных покупателей, так и для крупных
            государственных&nbsp;а также для частных объектов (аэропорты, метро, автосалоны и пр.). При размещение
            крупного заказа на 10 и более комплектов стеклянных душевых мы предлагаем оптовые цены и прямой договор.</p>
        <h4>5 преимуществ от завода</h4>
        <p style="text-align: justify;">Наши стеклянные двери для душевой отличаюся самым высоким качеством в России и
            обладают существенными преимуществами перед конкурентами из Европы и Китая.</p>
        <ol>
            <li style="text-align: justify;">Выгодная цена за м<sup>2</sup>: т.к. производство российское, мы обладаем
                низкой себестоимостью уже готовой продукции</li>
            <li style="text-align: justify;">Безупречное качество стекла и фурнитуры: мы комплектуем свои двери
                исключительной по качеству фурнитурой, а весь материал проходит многократные проверки на
                самовзрываемость, ударостойкость, оптическую чистоту. Петли и коннекторы имеют антикоррозийную обработку
                поверхностей и высокую весовую нагрузку, что обеспечивает потребителям полную безопасность
                использования.</li>
            <li style="text-align: justify;">Профессиональное снятие размеров: технолог выезжает в ваш офис или дом для
                точного съема всех геометрических размеров во всех плоскостях, с тем, чтобы готовое изделие получилось
                идеально встроенным в вашу душевую комнату.</li>
            <li style="text-align: justify;">Монтаж с гарантией: большинство компаний, предлагающих свои услуги по
                монтажу, не обладают ни достаточным опытом, ни профессиональным инструментов для монтажа. Мы производим
                установку мм-в-мм согласно заданным параметрам и по монтажным чертежам.</li>
            <li style="text-align: justify;">Гарантия производителя: выбирая готовые двери европейского или китайского
                производства, вы не только переплачиваете существенные средства, но и не всегда получаете гарантию.
                Завод Акма, имея представительство в Москве и развитую сеть дилеров, всегда готов быстро и оперативно
                решить любой вопрос, который касается качества встраиваемого стекла для душа своего производства.</li>
        </ol>
    </div>
</div>
</div>
{% endblock %}