{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do180-1_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ДО 180-1, ПРОЗРАЧНОЕ СТЕКЛО</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 700*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 4 448 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 9507 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do-180-1-devushka_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ДЕВУШКА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*1900 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 16 545 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 21604 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/fisso3_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ФИССО 3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 7 965 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 4 228 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12193 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/fisso2_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ФИССО 2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачная бронза (возможно: бесцветный; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 700*1500*2000</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 21 682 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 10 441 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 32123 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaya_prozrachnaya_akma_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ФИССО 5</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong>нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 5 089 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 10148 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaya_shtorka_akma_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ФИССО 6</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Матовый бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 8 050 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 13110 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do180-1-vetkaduba_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА С РИСУНКОМ ВЕТКА ДУБА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать полноцветная</p>
                    <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 34 718 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 39777 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/do180-1-dashinuzor_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ ПЕРЕГОРОДКА ДАШИН УЗОР</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Керамопечать</p>
                    <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно серый, бронза)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 800*1900 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 16 545 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 5 059 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 21604 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <h3><strong>АКТУАЛЬНОСТЬ ПОДОБНОЙ СТАЦИОНАРНОЙ ПЕРЕГОРОДКИ</strong></h3>
        <p style="text-align: justify;">Обратите внимание на то, что подобные конструкции разумно устанавливать только в
            тех помещениях, в которых переманентно поддерживается комфортная для человека температура и нет эффекта
            сквозняка. В противном случае, любой человек, принимающий душ, рискует простудиться. Стационарные
            конструкции с успехом используются в общественных зонах: в душевых фитнес-клубов, медицинских центрах,
            саунах и банях.</p>
        <p style="text-align: justify;">Если говорить об их применении в быту, то тут речь может пойти, как и о летнем
            душе возле бассейна или в саду, либо об очень объемной ванной комнате или сауне, в которой есть
            необходимость приема водных процедур сразу двумя и более людьми.</p>
        <h3><strong>КАТАЛОГ СТАЦИОНАРНЫХ ДУШЕВЫХ ПЕРЕГОРОДОК ОТ ЗАВОДА АКМА</strong></h3>
        <p style="text-align: justify;">Обратите внимание на то, что в нашем каталоге представлены фото душевых
            перегородок в интерьере со стандартными стационарными размерами. Но это ни в коем случае не ограничивает вас
            в возможностях:</p>
        <ul>
            <li>- мы производим абсолютно ЛЮБЫЕ размеры и сверления;</li>
            <li>- предлагаем большой выбор стекла (СВЫШЕ 1000 вариантов);</li>
            <li>- гарантируем выгодные цены на свою продукцию;</li>
            <li>- комплектуем изделия качественной, надежной фурнитурой, которая служит также долго, как и само стекло;
            </li>
            <li>- сроки изготовления составляют всего 3 недели с момента размещения заказа;</li>
            <li>- мы предоставляем полный спектр услуг от замера мастером-технологом до монтажа сертифицированными
                специалистами с гарантией от производителя;</li>
            <li>- предлагаем вам также ознакомиться с остальными видами и возможностями, посетив общий раздел "ДУШЕВЫЕ
                ПЕРЕГОРОДКИ ОТ ПРОИЗВОДИТЕЛЯ".</li>
        </ul>
        <h3><strong>ДОПОЛНИТЕЛЬНЫЕ ВОЗМОЖНОСТИ ПОКУПАТЕЛЕЙ</strong></h3>
        <p style="text-align: justify;">Кроме перегородок из стекла, рекомендуем ознакомиться и с таким типом продукции,
            как термостойкие&nbsp;ДВЕРИ ДЛЯ БАНИ
            И САУНЫ&nbsp;премиального уровня качества. Уверены в том, что если вы решили обустроить вашу
            санузловую зону согласно последним направлениям в моде интерьерного дизайна и согласно современнейшим
            технологиям, мы сможем вам предоставить множество решений из стекла, которые станут лучшим предложением в
            рынке.</p>
    </div>
    </ol>
</div>
</div>
</div>
{% endblock %}