{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ugolok-avrora-prozrachnaya_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>УГОЛОК ДЛЯ ДУША АВРОРА 90Х90 ПРОЗРАЧНЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Стоимость стекла:</strong> 18 554 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 990 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30544 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/ugolok-uliana-prozrachnaya_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>УГОЛОК ДЛЯ ДУША ЮЛИАНА 90X90 ПРОЗРАЧНЫЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм (возможно 10 мм)</p>
                    <p><strong>Стоимость стекла:</strong> 18 554 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 990 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30544 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do90-1_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК ДО 90-1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 17 157 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 990 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 29147 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do135-1r_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК ДО 135-1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 17 157 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 990 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 29147 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do90-3_0x350_c7c (1).jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК ДО 90-3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*1200*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 20 970 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 19 554 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 40524 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/uglovye-dushevye-peregorodki-800x1900_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК 90X90</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 17 157 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 11 990 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 29147 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/uglovye-dushevye-peregorodki-800x1900_4_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК 90X90 С ДОБОРОМ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*800*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 16 204 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 19 058 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 35262 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img
                    src="../static/img/uglovye-dvuhdvernye-dushevye-peregorodki-700x700x1900_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВОЙ УГОЛОК ДВУХДВЕРНЫЙ 90X90</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 17 157 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 26 768 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 43925 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;"><strong>Душевой уголок</strong> – это пространство в ванной комнате,
            функционально оборудованное под комфортные и удобные водные процедуры. От того, насколько удобно оно
            спроектировано и смонтировано, зависит и долговечность его использования. Завод Акма предлагает вам
            множество решений по зонированию и обустройству душевого угла с помощью высокопрочного закаленного 8 мм
            стекла. Стекло вы можете выбрать из сотен вариантов, включая матовое или прозрачное, с несмываемым рисунком
            или с алмазными гранями – наш ассортимент и возможности позволят вам сделать не только комфортный уголок для
            душа, но и изящный интерьер ванной, выгодно отличающийся от остальных решений.</p>
        <h3 style="text-align: justify;">Что следует учесть при планировании покупки?</h3>
        <p style="text-align: justify;">Когда вы задумались о перепланировки своего санузлового пространства и уже
            решили купить душевой уголок из стекла, вы, наверняка, не учли следующие моменты:</p>
        <ul>
            <li style="text-align: justify;">- если ванная комнату маленькая, то желательно, чтобы дверь открывалась
                вовнутрь;</li>
            <li style="text-align: justify;">- минимальная ширина, которая возможна при закаливании стекла - это 20 см.
                Следует учитывать при проектировании перегородки, которая состоит из двух и более частей.</li>
            <li style="text-align: justify;">- современные технологии предполагают отсутствие душевого поддона и слив
                воды непосредственно в пол, но для этого должны быть проведены соответствующие подготовительные
                инженерные работы;</li>
            <li style="text-align: justify;">- при темном декорировании стен, наиболее красиво и эстетично будет
                выглядеть в интерьере душевой уголок из прозрачного стекла.</li>
        </ul>
        <p style="text-align: justify;"><em>Важно: наши менеджеры предоставят вам полную консультацию и подготовят
                проект по вашим размерам еще до того, как вы начнете чистовую отделку стен под закладку стекла.
                Рекомендуется провести первичные переговоры по характеристикам и функциональности в процессе выбора
                керамической плитки. Наши менеджеры на связи ежедневно с 10-00 до 21-00 по Москве.</em></p>
        <h3>Популярные размеры уголков для душа и их категории:</h3>
        <p><strong>Уголки «Мини»</strong></p>
        <p style="text-align: justify;">Все изделия для душа данной категории рассчитаны для традиционную ширину
            чугунной ванной и чаще всего встраиваются либо рядом, либо вместо нее при перепланировки. Здесь размеры
            следующие: 62х80 см/75х90 см либо 80х90 см. Изготавливаются на заказ под точные размеры заказчика. Срок – 30
            дней.</p>
        <p style="text-align: justify;"><strong>Душевые уголки «Компакт»</strong></p>
        <p style="text-align: justify;">В серию «Компакт» входят небольшие стеклянные уголки, которые адаптивно
            смоделированы для приёма душевых процедур одним человеком. Это размеры: 90х90 см; 80 или 90х100 см. Чаще
            всего под эти размеры вы с легкостью найдете и соответствующие поддоны, и купите из складского наличия. Есть
            в наличии на складе. Уточняйте у наших менеджеров.</p>
        <p style="text-align: justify;"><strong>Душевой уголок «Медиум»</strong></p>
        <p style="text-align: justify;">Категория «Медиум» рассчитана на более объемные пространства, где на зону приема
            душа уделяется намного больше места. Здесь возможны следующие размеры: 80х120/130 см; 100х120-150 см. Данные
            встраиваемые душевые уголки наиболее комфортны для принятия водных процедур и имеют широкие рабочие створки
            с большим углом открывания. Изготавливаются только на заказ.</p>
        <p><strong>Наши 5 преимуществ:</strong></p>
        <ul>
            <li>- цена: одна из наиболее низких при безусловном высоком качестве;</li>
            <li>- точность замеров: вы получаете абсолютно герметичные конструкции с долгим сроком эксплуатации;</li>
            <li>- установка: мы предлагаем не просто изделие, а изделие «под ключ» с монтажом и с гарантией;</li>
            <li>- отличная репутация: наш завод уже на протяжении десятков лет считается лидером российского стекольного
                рынка;</li>
            <li>- индивидуальный подход: мы ценим каждого нашего клиента и за каждым из них закрепляется персональный
                менеджер.</li>
        </ul>
        <h4>&nbsp;</h4>
    </div>
</div>
{% endblock %}