{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/razdvid-pr_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА ДЛЯ ДУША ДО 180 ПРОЗРАЧНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1400*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> от 17 716 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 12 687 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 30403 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do90-razdvig_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>ДУШЕВАЯ РАЗДВИЖНАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1200*800*2000</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong>от 16 640 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 9 667 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 26317 руб.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/razdvid-mat_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА ДЛЯ ДУША ДО 180 МАТОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Матовое бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1400*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> от 17 716 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 17 472 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 35188 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/do180razdv-naruz_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА ДЛЯ ДУША ДО 180-1 (ДВЕРЬ СНАРУЖИ)</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачная бронза (возможно: бесцветный; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1600*2000</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> от 17 716 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 14 437 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 32153 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/dushevaya-preregorodka-akma_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА ДЛЯ ДУША ТЕЛЕСКОПИК 2</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong>нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1600*2000 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> от 17 716 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> 14 437 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 32153 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/telescopico1_0x350_c7c.jpg" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ПЕРЕГОРОДКА ДЛЯ ДУША ТЕЛЕСКОПИК 1</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачное бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 900*900*2000</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> от 26 732 руб..</p>
                    <p><strong>Стоимость фурнитуры:</strong> 16 625 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 43357 руб.
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="col-md-12">
        <h3 style="text-align: justify;"><strong>Немного из истории раздвижных душевых перегородок.</strong></h3>
        <p style="text-align: justify;">Первыми, кто ввел в обиход раздвижные створки из стекла в душевых зонах стали
            итальянцы. Именно они, имея большой опыт работы со стеклом, как с материалом, впервые в 1950-хх годах
            прошлого века стали использовать их в своих дизайнерских проектах. Идея была воспринята, как инновационная,
            и с тех пор, стеклянные полотна для душа для защиты от брызг и воды стали нормой. Предлагаем вам также
            посмотреть, какие виды стеклянных перегородок&nbsp;стали возможными и во
            внутреннем интерьере домов и офисов.</p>
        <p style="text-align: justify;">Обратите внимание на то, что в России первыми использовать эти конструкции стали
            отели и конференц-центры. В проектировании с самого начала закладывались наиболее простые и при этом
            безопасные полотна, которые соответствовали бы всем санитарно-гигиеническим нормам, сделанные, прежде всего,
            из закалённого стекла по нескольким причинам:</p>
        <p>- оно экологически чисто и безопасно;</p>
        <p>- максимально долговечно (срок службы до 100 лет);</p>
        <p>- на этом материале не образуется грибок и плесень;</p>
        <p>- не образует механических царапин и всегда выглядит как новое;</p>
        <p style="text-align: justify;">По мере распространения таких конструкций и его знакомства с широкой публикой,
            все большим спросом стали пользоваться аналогичные раздвижные перегородки в душ, но уже для квартир и
            загородных домов.</p>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}