{% extends "base.html" %}

{% block body %}
<br><br>
<h3 align="center">{{ heading }}</h3><br><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/steklyannaya-shtorka-loft_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ШТОРКА ЛОФТ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 700*1300 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 9 483 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 3 204 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12687 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/shtorka-uliana_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ШТОРКА ДЛЯ ВАННОЙ ЮЛИАНА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> Алмазная гравировка</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно бронза и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 700*1300 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 9 483 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 3 204 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12687 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/tb_storka-razdvig1.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ШТОРКА ДЛЯ ВАННОЙ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1700*1400 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 8 697 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 20 986 .</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 29683 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/tb_PHOTO-2019.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАСПАШНАЯ ШТОРКА ИЗ СТЕКЛА</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачная бронза (возможно: бесцветный; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*1400</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 6 610 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 5 602руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 32123 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/tb_shtorka-razdvig-br.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАЗДВИЖНАЯ ШТОРКА ДЛЯ ВАННОЙ БРОНЗОВАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong>нет</p>
                    <p><strong>Цвет:</strong> Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1700*1400 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 8 697 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 20 986 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 29683 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/tb_shtorka-rasp-ser-1.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>РАСПАШНАЯ ШТОРКА ИЗ СТЕКЛА СЕРАЯ</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong> Прозрачный серый (возможно бесцветный и серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 1000*1400 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 6 610 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 5 602 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 12212 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <img src="../static/img/cortina4_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>СТЕКЛЯННАЯ ШТОРКА КОРТИНА 4</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно: бронза; серый)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 850*1300 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 4 834 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 5230 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 10064 руб.
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card-body">
                <a href="#"></a><img src="../static/img/cortina3-1-1_0x350_c7c.jpg" class="img-fluid" alt=""></a><br><br>
                <div class="heading">
                    <h3>ШТОРКА ДЛЯ ВАННОЙ КОРТИНА 3</h3><br>
                </div>
                <div itemprop="description">
                    <p><strong>Рисунок:</strong> нет</p>
                    <p><strong>Цвет:</strong>Прозрачный бесцветный (возможно серый, бронза)</p>
                    <p><strong>Материал:</strong> Стекло</p>
                    <p><strong>Размеры:</strong> 700*1300 мм</p>
                    <p><strong>Толщина:</strong> 8 мм </p>
                    <p><strong>Стоимость стекла:</strong> 3 981 руб.</p>
                    <p><strong>Стоимость фурнитуры:</strong> от 2 512 руб.</p>
                    <p><strong>Наличие:</strong> на заказ </p>
                    <p><strong>Сроки:</strong> 20 дней</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    Цена : 6493 руб.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <p style="text-align: justify;">На этих страницах нашего сайта вы найдете каталог моделей стеклянных шторок для
            ванной комнаты и душа. Срок изготовления на нашем заводе относительно небольшой и составляет всего 3 недели
            с момента размещения заказа. Все шторки (или как их еще называют, створки) изготавливаются из высокопрочного
            стекла премиум стандарта 8 мм толщины с ударопрочной степенью закалки. При желании покупателя, мы можем
            изготовить листы не только 8, но и 10 мм толщины. Стандартно мы предлагаем рассмотреть для производства 4
            вида стекла: белое прозрачное; белое, серое и бронзовое матовое.</p>
        <p><em>Важно 1: маркировка "матовое" означает "непрозрачное"</em></p>
        <p style="text-align: justify;">Помимо стандартных вариантов, вы можете рассмотреть стекла с рисунками и
            гравировками. Возможно нанесение любого рисунка, посмотреть которые вы сможете в каталоге "Межкомнатные
                стеклянные двери" (все коллекции, кроме коллекции Лайт)</p>
        <h4>КАК ЗАКАЗАТЬ СТЕКЛЯННЫЕ СТВОРКИ ДЛЯ ВАННОЙ ПО СВОИМ РАЗМЕРАМ?</h4>
        <p style="text-align: justify;">Предлагаемые нами нестандартные изделия на фото являются базовыми вариантами для
            понимания общей стоимости. В жизни все происходит несколько по другому сценарию.</p>
        <p style="text-align: justify;">После предварительного согласования цены, к вам приезжает мастер-технолог для
            снятия замеров. Расчетный менеджер калькулирует и комплектует все необходимое для установки и монтажа
            стеклянной шторки. Заказ уходит в производство. Через три недели по факту получения заказа вы можете
            приступить к монтажу стеклянной шторки самостоятельно, либо воспользоваться услугами специалистов по
            монтажу, которые прошли обучение на нашем производстве и несут ответственность за оказываемые услуги.</p>
        <p style="text-align: justify;"><em>Важно 2: широкие возможности крепления</em></p>
        <p style="text-align: justify;">Если раковина примыкает близко к ванной, то используется конструкция из двух
            полотен, одно из которых стационарное, второе – мобильное. В этом случае, цена увеличивается, так как
            используется в два раза больше фурнитуры, самого стекла, объем работ по проектированию, врезке отверстий и
            шлифовке.</p>
        <h4>ВАЖНАЯ ИНФОРМАЦИЯ ДЛЯ ПОТЕНЦИАЛЬНЫХ ПОКУПАТЕЛЕЙ</h4>
        <p style="text-align: justify;">Совет 1: для того, чтобы изделия были безопасными и исключали опасность
            травмирования, важно не только изготовить их из прочного закалённого стекла, но и учесть возможность их
            безупречной фиксации. Есть определенные требования, к чему можно крепить коннекторы, а к чему - нет.
            Например, самым безупречным вариантом для крепления коннектором к ванне является крепление к чугунной ванне
            с бортиком шириной не менее 4 см.</p>
        <p style="text-align: justify;">Совет 2: для того, чтобы конструкция была максимально герметичной, нужно
            использовать силиконовые уплотнители, которые не входят в общую стоимость. Их нужно рассчитывать отдельной
            единицей. И в душе, и в ванной они крайне необходимы для того, чтобы вам не приходилось делать влажную
            уборку пола после водных процедур.</p>
        <p style="text-align: justify;">Совет 3: заказывать все лучше с последующим монтажом, чтобы избежать ненужной
            переплаты в случае неверного изготовления размеров створки. Помните, что закалённое стекло невозможно
            переделать: оно не поддается изменению размеров и может быть только утилизировано.</p>
        <p style="text-align: justify;">Совет 4: если вы решили купить готовые шторки из стекла, то в обязательном
            порядке проверьте то, насколько качественна предлагаемая в комплекте фурнитура. Дешевое, к сожалению, часто
            является синонимом слова «некачественное» и, чаще всего, этим отличается предлагаемая в готовых комплектах
            фурнитура. Вся продукция нашего завода комплектуется только надежными и проверенными петлями и коннекторами
            известных марок, которые обладают стойким антикороззийным эффектом и имеют выдержанную весовую нагрузку.</p>
    </div>
</div>
{% endblock %}